label.mb-1.mr-sm-2.text-white {
  height: 60px;
}
.row {
  margin: 0 !important;
}
.custom_space {
  margin: 0 !important;
  padding: 0 !important;
  padding-right: 6px !important;
}
.custom_style {
  font-size: 1em;
  border-bottom: 1px solid;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}
.h-30p {
  height: 30px;
}
