.bg-success {
  background-color: #28a745 !important;
}
/* table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: white !important;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    height: 50px;
  }
  .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    margin-left: 10px;
  }
  table tr:hover {
    background-color: #f8f8f8 !important;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -1px;
  }
} */

/* main start */
.bg-primary-gradient {
  background-image: linear-gradient(
    to left,
    #0db2de 0%,
    #005bea 100%
  ) !important;
}
.bg-voilet {
  background-color: #7d00b5 !important;
}
.bg-primary-blue {
  background-color: #265ed7 !important;
}
.bg-sunset {
  background-color: #ff8b01 !important;
}
.custom-text {
  margin-bottom: 4px;
  font-size: 0.8em;
  font-weight: 600;
}
.custom-label {
  justify-content: left;
  padding-left: 3px;
  font-weight: 500;
}
#compositeline,
#compositeline2 {
  position: relative;
  bottom: -1px;
}
.custom-pagination {
  display: flex !important;
  justify-content: flex-end;
}
