<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>

<div class="container-fluid p-0">
  <div class="row m-0 p-0">
    <div class="col-6 m-0 p-0">

    
    <div class="row m-0 p-0">
            <div class="col-12 ml-sm-n4">
              <label for="cmbCustomer">Customer Name:</label>
              <select
                name="CustomerName"
                class="custom-select mb-2 mr-sm-3 mr-1 col-sm-6"
                (change)="onChangeCustomer($event.target.value)"
                id="cmbCustomer"
              >
                <option selected value="0"></option>
                <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
                  {{ cLst.DisplayName }}
                </option>
              </select>
            </div>
        </div>   
          <div class="row m-0 p-0">
            <div class="border col-sm-12">
              <div class="table-responsive">
                <table datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                  class="table data-table table-striped table-bordered mydatatable"
                >
                  <thead class="bg-primary">
                    <tr>
                      <th class="text-white" scope="col">IP Address</th>
                      <th class="text-white" scope="col">Description</th>
                      <th class="text-white" scope="col">DateTime</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let cLst of LogList"
                          
                    >
                      <td data-label="Ip Address">
                        {{ cLst.Ipaddress }}
                      </td>
                      <td data-label="Modification">
                        {{ cLst.modifydata }}
                      </td>
                      <td data-label="Modify DateTime">
                        {{ cLst.ModifyDateTime }}
                      </td>
                    </tr>
                  </tbody>
                </table>
               
              </div>
            </div>
           
          </div>
</div>
<div class="col-sm-6 m-0 p-0">
  <app-player-ipaddress-logs></app-player-ipaddress-logs>
</div>


</div>
</div>