<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>

<div class="container-fluid p-0 m-0 bg-white">
<div class="row">
    <div [ngClass]="cmbLibraryGenre === '325'?'col-5': 'col-3'" style="border-right: 3px solid #c0bebe;">
            <div class="form-row">
                <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="token" class="mb-2 mr-sm-2">Customer:</label>
                    <select class="custom-select mb-3" (change)="onChangeCustomer()"
                    id="cmbCustomer" [(ngModel)]="cmbCustomerId">
                    <option selected value="0"></option>
                    <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
                      {{ cLst.DisplayName }}
                    </option>
                  </select>
                  </div>
                <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="token" class="mb-2 mr-sm-2" #flocation>Template Name:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="location" [(ngModel)]="txtTemplateName"/>
                  </div>
                  <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="d-none form-group pb-1 m-0">
                    <label for="MediaType">Orientation:</label>
                    <select name="lType" class="custom-select" id="MediaType" [(ngModel)]="cmbLibraryGenre" (change)="onChangeLibraryGenre()">
                      <option value="325"> Landscape</option>
                      <option value="324" *ngIf="ShowPortraitGenre()"> Portrait</option>
                    </select>
                  </div>
                  <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0 d-none">
                    <label for="location21" class="mb-2 mr-sm-2 w-100"><input type="checkbox" class="mr-sm-2" (change)="CustomRatio($event)" /> Custom Screen Ratio:</label>
                    <input type="text" class="form-control w-25 mb-2 mr-sm-2 pull-left" id="location21" [(ngModel)]="templatedata.width" placeholder="Width" [readonly]="isDisabled" />
                    <input type="text" class="form-control w-25 mb-2 mr-sm-2 pull-left" id="location1" [(ngModel)]="templatedata.height" placeholder="Height" [readonly]="isDisabled"/>
                  </div>
                  <div *ngIf="ShowBackgroundImageLibrary()" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Background Image:</label>
                    <input type="button" (click)="openLibrary(modalSignage,'Library')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_imgName}}</strong></span>
                  </div>
                  <div *ngIf="ShowBackgroundImageLibraryMultiple()" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Background Image 2:</label>
                    <input type="button" (click)="openLibrary(modalSignage2,'Library')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_imgName2}}</strong></span>
                  </div>
                  <div *ngIf="ShowBackgroundImageLibraryMultiple()" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Background Image 3:</label>
                    <input type="button" (click)="openLibrary(modalSignage3,'Library')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_imgName3}}</strong></span>
                  </div>
                  <div *ngIf="ShowBackgroundImageLibraryMultiple()" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Background Image 4:</label>
                    <input type="button" (click)="openLibrary(modalSignage4,'Library')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_imgName4}}</strong></span>
                  </div>
                  <div *ngIf="((templateId==='11') || (templateId==='10'))" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Background Image 5:</label>
                    <input type="button" (click)="openLibrary(modalSignage5,'Library')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_imgName5}}</strong></span>
                  </div>
                  <div *ngIf="templateId==='11'" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Background Image 6:</label>
                    <input type="button" (click)="openLibrary(modalSignage6,'Library')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_imgName6}}</strong></span>
                  </div>
                  <div *ngIf="templateId==='11'" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Background Image 7:</label>
                    <input type="button" (click)="openLibrary(modalSignage7,'Library')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_imgName7}}</strong></span>
                  </div>
                  <div *ngIf="templateId==='11'" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Background Image 8:</label>
                    <input type="button" (click)="openLibrary(modalSignage8,'Library')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_imgName8}}</strong></span>
                  </div>
                  <div  *ngIf="((templateId!=='10') && (templateId!=='12') && (templateId!=='13'))" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-2 m-0">
                    <label for="MediaType">Background Color:</label>
                    <input [(colorPicker)]="templatedata.bgcolor" class="form-control" readonly [style.background]="templatedata.bgcolor"/>
                  </div>
                  <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="tHeading" class="mb-2 mr-sm-2">Heading <span *ngIf="templateId==='11'">1</span> :</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="tHeading" [(ngModel)]="templatedata.title" />
                  </div>
                  <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="tdesc" class="mb-2 mr-sm-2"><span *ngIf="templateId==='11'">Amount 1</span><span *ngIf="templateId !=='11'">Description</span>:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="tdesc" [(ngModel)]="templatedata.desc"  />
                  </div>
                  <div *ngIf="((templateId==='13') ||(templateId==='12') || (templateId==='10') || (templateId==='11') || (templateId==='3') || (templateId==='4') || (templateId==='5') ||(templateId==='7') ||(templateId==='9'))" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="tdesc" class="mb-2 mr-sm-2">
                      <span *ngIf="templateId==='13'">Prepared for</span>
                      <span *ngIf="templateId==='12'">Discount %</span>
                      <span *ngIf="templateId==='11'">Description 1</span>
                      <span *ngIf="((templateId==='10') || (templateId==='3') || (templateId==='4') || (templateId==='5') ||(templateId==='7') ||(templateId==='9'))">Text 1</span>:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="tdesc" [(ngModel)]="templatedata.desc1"  />
                  </div>
                  <div *ngIf="((templateId==='13')||(templateId==='12')||(templateId==='11')||(templateId==='3') ||(templateId==='9'))" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="tdesc" class="mb-2 mr-sm-2">
                      <span *ngIf="templateId==='13'">Prepared By</span>
                      <span *ngIf="templateId==='12'">Promo Code</span>
                      <span *ngIf="templateId==='11'">Heading 2</span>
                      <span *ngIf="((templateId==='3') ||(templateId==='9'))">Text 2</span>:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="tdesc" [(ngModel)]="templatedata.desc2"  />
                  </div>
                  <div *ngIf="((templateId==='13') ||(templateId==='12') ||(templateId==='9') || (templateId==='11'))" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="tdesc" class="mb-2 mr-sm-2">
                      <span *ngIf="templateId==='13'">Email</span>
                      <span *ngIf="templateId==='12'">Website</span>
                      <span *ngIf="templateId==='11'">Amount 2</span>
                      <span *ngIf="(templateId==='9')">Text 3</span>:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="tdesc" [(ngModel)]="templatedata.desc3"  />
                  </div>
                  <div *ngIf="((templateId==='11') || (templateId==='13'))" [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="tdesc" class="mb-2 mr-sm-2">
                      <span *ngIf="templateId==='11'">Description 2</span>
                      <span *ngIf="templateId==='13'">Date</span>:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="tdesc" [(ngModel)]="templatedata.desc4"  />
                  </div>
                  <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="bkImage" class="mb-2 mr-sm-2 w-100">Company Logo:</label>
                    <input type="button" (click)="openLibrary(modalSignage,'Logo')" class="btn btn-primary  mb-2 mr-sm-2" id="bkImage" value="Open Library" />
                    <span><strong>{{selected_logoName}}</strong></span>
                  </div>
                  <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0">
                    <label for="tdesc" class="mb-2 mr-sm-2">Duration(Seconds):</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="tduration" [(ngModel)]="templatedata.duration"  />
                  </div>
                  <div [ngClass]="cmbLibraryGenre === '325'?'col-sm-6': 'col-sm-12'" class="form-group pb-1 m-0" style="margin-top: 1.8rem !important;">
                    <button class="btn btn-primary mr-2" type="button" (click)="OpenViewContent(viewcontent)">Preview</button>
                    <button class="btn btn-primary mr-2" type="button" (click)="SaveTemplate()">Save</button>
                    <button class="btn btn-warning mr-2" (click)="CloseEditTemplate()" type="button">Cancel</button>
                  </div>

            </div>
    </div>
    <div [ngClass]="cmbLibraryGenre === '325'?'d-none': ''">

    </div>
    <div [ngClass]="cmbLibraryGenre === '325'?'col-7 mt-3 d-flex justify-content-center': 'col-9 mt-3 d-flex justify-content-center'">
      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='324' && templateId=='6'"  [src]="IframeSRC" title="Template 2"  frameborder="0" scrolling="no" width="350" height="768"></iframe> 
      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='6'"  [src]="IframeSRC" title="Template 2" frameborder="0" scrolling="no" width="600" height="380"></iframe> 
     <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='6'" src="assets/images/temp-1/1-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow" style="margin-left: auto;margin-right: auto;display: block;"> 
       <!-- <iframe *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='6'" src="http://localhost:4201/#/" frameborder="0" scrolling="no"  width="600" height="380"></iframe>-->

       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='324' && templateId=='6'" src="assets/images/temp-1/1-portrait.png" alt="" style="width: 371px;height: 661px;"> 
      <!--<iframe *ngIf="!IsClickPreview && cmbLibraryGenre=='324' && templateId=='6'" src="http://localhost:4201/#/" scrolling="no" frameborder="0" width="350" height="768"></iframe>-->

      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='324' && templateId=='2'" [src]="IframeSRC"  title="Template 2" scrolling="no"  frameborder="0" width="350" height="768"></iframe> 
      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='2'" [src]="IframeSRC"  title="Template 2" frameborder="0" scrolling="no" width="600" height="380"></iframe> 
      <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='2'" src="assets/images/temp-4/4-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow" style="margin-left: auto;margin-right: auto;display: block;">
      <img *ngIf="!IsClickPreview && cmbLibraryGenre=='324' && templateId=='2'" src="assets/images/temp-4/4-portrait.png" alt="" style="width: 371px;height: 661px;">
      
      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='324' && templateId=='3'" [src]="IframeSRC"  title="Template 2"  frameborder="0" scrolling="no" width="350" height="768"></iframe> 
      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='3'" [src]="IframeSRC"  title="Template 2" frameborder="0" scrolling="no" class="w-100 mt-2" style="height: 30rem;"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='3'" src="assets/images/temp-2/2-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow" style="margin-left: auto;margin-right: auto;display: block;height: 360px;"> 
      <!--<iframe *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='3'" src="http://localhost:4201/#/" frameborder="0" scrolling="no" width="600" height="380"></iframe>-->

       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='324' && templateId=='3'" src="assets/images/temp-2/2-portrait.png" alt="" style="width: 371px;height: 661px;"> 
     <!-- <iframe *ngIf="!IsClickPreview && cmbLibraryGenre=='324' && templateId=='3'" src="http://localhost:4201/#/" scrolling="no" frameborder="0" width="350" height="768"></iframe>-->


      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='324' && templateId=='1'"  [src]="IframeSRC" title="Template 2" scrolling="no" frameborder="0" width="350" height="768"></iframe> 
      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='1'"  [src]="IframeSRC" title="Template 2" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
      
      <!-- first frame -->
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='324' && templateId=='1'" src="assets/images/temp-0/0-portrait.png" alt="" style="width: 371px;height: 661px;"> 
      <!--<iframe *ngIf="!IsClickPreview && cmbLibraryGenre=='324' && templateId=='1'" src="http://localhost:4201/#/" scrolling="no" frameborder="0" width="350" height="768"></iframe>-->
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='1'" src="assets/images/temp-0/0-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow" style="margin-left: auto;margin-right: auto;display: block;"> 
      <!--<iframe *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='1'" src="http://localhost:4201/#/" scrolling="no" frameborder="0" width="600" height="380"></iframe>-->
      
      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='324' && templateId=='4'"  [src]="IframeSRC" title="Template 4" scrolling="no" frameborder="0" width="350" height="768"></iframe> 
      <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='4'"  [src]="IframeSRC" title="Template 4" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='324' && templateId=='4'" src="assets/images/temp-5/5-portrait.png" alt="" style="width: 371px;height: 661px;"> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='4'" src="assets/images/temp-5/5-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow" style="margin-left: auto;margin-right: auto;display: block;"> 


       <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='5'"  [src]="IframeSRC" title="Template 6" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='5'" src="assets/images/temp-6/6-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow landscape" style="margin-left: auto;margin-right: auto;display: block;"> 
    
       <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='7'"  [src]="IframeSRC" title="Template 7" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='7'" src="assets/images/temp-7/7-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow landscape" style="margin-left: auto;margin-right: auto;display: block;"> 

       <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='8'"  [src]="IframeSRC" title="Template 8" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='8'" src="assets/images/temp-8/8-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow landscape" style="margin-left: auto;margin-right: auto;display: block;"> 

       <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='9'"  [src]="IframeSRC" title="Template 8" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='9'" src="assets/images/temp-9/9-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow landscape" style="margin-left: auto;margin-right: auto;display: block;"> 

       <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='10'"  [src]="IframeSRC" title="Template 8" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='10'" src="assets/images/temp-10/10-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow landscape" style="margin-left: auto;margin-right: auto;display: block;"> 

       <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='11'"  [src]="IframeSRC" title="Template 8" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='11'" src="assets/images/temp-11/11-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow landscape" style="margin-left: auto;margin-right: auto;display: block;"> 

       <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='12'"  [src]="IframeSRC" title="Template 8" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='12'" src="assets/images/temp-12/12-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow landscape" style="margin-left: auto;margin-right: auto;display: block;"> 

       <iframe *ngIf="IsClickPreview && cmbLibraryGenre=='325' && templateId=='13'"  [src]="IframeSRC" title="Template 8" scrolling="no" frameborder="0" width="600" height="380"></iframe> 
       <img *ngIf="!IsClickPreview && cmbLibraryGenre=='325' && templateId=='13'" src="assets/images/temp-13/13-landscape.png" alt="" class="img-fluid card-img-top w-75 mt-5 box-shadow landscape" style="margin-left: auto;margin-right: auto;display: block;"> 
      </div>
</div>
</div>



<ng-template #modalSignage let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Library</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <label class="col-md-2 p-0">Folder Name:</label>
        <select name="cmbCustomer" class="col-md-3 custom-select mb-3 mt-2" (change)="onChangeLibraryFolder()"
          id="cmbFolder" [(ngModel)]="cmbLibraryFolder">
          <option selected value="0">All</option>
          <option *ngFor="let cLst of LibraryFolderList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>

        
      </div>
      <div class="row">
        <div class="col-sm-4 col-6 mb-2" *ngFor="let songLst of SongsList">
          <div class="card">
            <img
              class="card-img-top p-1"
              src="{{ songLst.TitleIdLink }}"
              alt="Card image"
              style="height: 100px; object-fit: contain"
            />
            <div class="card-body p-1 border-top">
              <a
                href="javascript:;"
                (click)="SetImage(songLst.TitleIdLink, songLst.title,1)" (click)="d('Cross click')"
                class="btn btn-primary btn-sm"
                >Set</a
              >
              <a
                href="javascript:;"
                (click)="OpenFullImageModal(modalFullImage, songLst.TitleIdLink)"
                (click)="d('Cross click')"
                class="ml-5"
                >Full View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template #modalFullImage let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <button
        type="button"
        class="close text-white"
        aria-label="Close" (click)="openLibrary(modalSignage,content_Type)"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-white">
      <div class="row">
        <div class="col-lg-12">
          <img
            class="p-1"
            src="{{ FullImageUrl }}"
            alt="Card image"
            style="
              margin-left: auto;
              margin-right: auto;
              display: block;
              object-fit: contain;
            "
          />
        </div>
      </div>
    </div>
  </ng-template>

  
  <ng-template class="pt_main" #viewcontent let-c="close" let-d="dismiss">
    
    <button
      type="button"
      class="close text-right"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
   
  <div class="modal-body">
    <app-playeractivationlog></app-playeractivationlog>
  </div>
  </ng-template>

  <ng-template #modalSignage2 let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Library</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <label class="col-md-2 p-0">Folder Name:</label>
        <select name="cmbCustomer" class="col-md-3 custom-select mb-3 mt-2" (change)="onChangeLibraryFolder()"
          id="cmbFolder" [(ngModel)]="cmbLibraryFolder">
          <option selected value="0">All</option>
          <option *ngFor="let cLst of LibraryFolderList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>

        
      </div>
      <div class="row">
        <div class="col-sm-4 col-6 mb-2" *ngFor="let songLst of SongsList">
          <div class="card">
            <img
              class="card-img-top p-1"
              src="{{ songLst.TitleIdLink }}"
              alt="Card image"
              style="height: 100px; object-fit: contain"
            />
            <div class="card-body p-1 border-top">
              <a
                href="javascript:;"
                (click)="SetImage(songLst.TitleIdLink, songLst.title,2)" (click)="d('Cross click')"
                class="btn btn-primary btn-sm"
                >Set</a
              >
              <a
                href="javascript:;"
                (click)="OpenFullImageModal(modalFullImage, songLst.TitleIdLink)"
                (click)="d('Cross click')"
                class="ml-5"
                >Full View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #modalSignage3 let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Library</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <label class="col-md-2 p-0">Folder Name:</label>
        <select name="cmbCustomer" class="col-md-3 custom-select mb-3 mt-2" (change)="onChangeLibraryFolder()"
          id="cmbFolder" [(ngModel)]="cmbLibraryFolder">
          <option selected value="0">All</option>
          <option *ngFor="let cLst of LibraryFolderList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>

        
      </div>
      <div class="row">
        <div class="col-sm-4 col-6 mb-2" *ngFor="let songLst of SongsList">
          <div class="card">
            <img
              class="card-img-top p-1"
              src="{{ songLst.TitleIdLink }}"
              alt="Card image"
              style="height: 100px; object-fit: contain"
            />
            <div class="card-body p-1 border-top">
              <a
                href="javascript:;"
                (click)="SetImage(songLst.TitleIdLink, songLst.title,3)" (click)="d('Cross click')"
                class="btn btn-primary btn-sm"
                >Set</a
              >
              <a
                href="javascript:;"
                (click)="OpenFullImageModal(modalFullImage, songLst.TitleIdLink)"
                (click)="d('Cross click')"
                class="ml-5"
                >Full View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #modalSignage4 let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Library</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <label class="col-md-2 p-0">Folder Name:</label>
        <select name="cmbCustomer" class="col-md-3 custom-select mb-3 mt-2" (change)="onChangeLibraryFolder()"
          id="cmbFolder" [(ngModel)]="cmbLibraryFolder">
          <option selected value="0">All</option>
          <option *ngFor="let cLst of LibraryFolderList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>

        
      </div>
      <div class="row">
        <div class="col-sm-4 col-6 mb-2" *ngFor="let songLst of SongsList">
          <div class="card">
            <img
              class="card-img-top p-1"
              src="{{ songLst.TitleIdLink }}"
              alt="Card image"
              style="height: 100px; object-fit: contain"
            />
            <div class="card-body p-1 border-top">
              <a
                href="javascript:;"
                (click)="SetImage(songLst.TitleIdLink, songLst.title,4)" (click)="d('Cross click')"
                class="btn btn-primary btn-sm"
                >Set</a
              >
              <a
                href="javascript:;"
                (click)="OpenFullImageModal(modalFullImage, songLst.TitleIdLink)"
                (click)="d('Cross click')"
                class="ml-5"
                >Full View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalSignage5 let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Library</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <label class="col-md-2 p-0">Folder Name:</label>
        <select name="cmbCustomer" class="col-md-3 custom-select mb-3 mt-2" (change)="onChangeLibraryFolder()"
          id="cmbFolder" [(ngModel)]="cmbLibraryFolder">
          <option selected value="0">All</option>
          <option *ngFor="let cLst of LibraryFolderList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>

        
      </div>
      <div class="row">
        <div class="col-sm-4 col-6 mb-2" *ngFor="let songLst of SongsList">
          <div class="card">
            <img
              class="card-img-top p-1"
              src="{{ songLst.TitleIdLink }}"
              alt="Card image"
              style="height: 100px; object-fit: contain"
            />
            <div class="card-body p-1 border-top">
              <a
                href="javascript:;"
                (click)="SetImage(songLst.TitleIdLink, songLst.title,5)" (click)="d('Cross click')"
                class="btn btn-primary btn-sm"
                >Set</a
              >
              <a
                href="javascript:;"
                (click)="OpenFullImageModal(modalFullImage, songLst.TitleIdLink)"
                (click)="d('Cross click')"
                class="ml-5"
                >Full View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #modalSignage6 let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Library</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <label class="col-md-2 p-0">Folder Name:</label>
        <select name="cmbCustomer" class="col-md-3 custom-select mb-3 mt-2" (change)="onChangeLibraryFolder()"
          id="cmbFolder" [(ngModel)]="cmbLibraryFolder">
          <option selected value="0">All</option>
          <option *ngFor="let cLst of LibraryFolderList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>

        
      </div>
      <div class="row">
        <div class="col-sm-4 col-6 mb-2" *ngFor="let songLst of SongsList">
          <div class="card">
            <img
              class="card-img-top p-1"
              src="{{ songLst.TitleIdLink }}"
              alt="Card image"
              style="height: 100px; object-fit: contain"
            />
            <div class="card-body p-1 border-top">
              <a
                href="javascript:;"
                (click)="SetImage(songLst.TitleIdLink, songLst.title,6)" (click)="d('Cross click')"
                class="btn btn-primary btn-sm"
                >Set</a
              >
              <a
                href="javascript:;"
                (click)="OpenFullImageModal(modalFullImage, songLst.TitleIdLink)"
                (click)="d('Cross click')"
                class="ml-5"
                >Full View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalSignage7 let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Library</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <label class="col-md-2 p-0">Folder Name:</label>
        <select name="cmbCustomer" class="col-md-3 custom-select mb-3 mt-2" (change)="onChangeLibraryFolder()"
          id="cmbFolder" [(ngModel)]="cmbLibraryFolder">
          <option selected value="0">All</option>
          <option *ngFor="let cLst of LibraryFolderList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>

        
      </div>
      <div class="row">
        <div class="col-sm-4 col-6 mb-2" *ngFor="let songLst of SongsList">
          <div class="card">
            <img
              class="card-img-top p-1"
              src="{{ songLst.TitleIdLink }}"
              alt="Card image"
              style="height: 100px; object-fit: contain"
            />
            <div class="card-body p-1 border-top">
              <a
                href="javascript:;"
                (click)="SetImage(songLst.TitleIdLink, songLst.title,7)" (click)="d('Cross click')"
                class="btn btn-primary btn-sm"
                >Set</a
              >
              <a
                href="javascript:;"
                (click)="OpenFullImageModal(modalFullImage, songLst.TitleIdLink)"
                (click)="d('Cross click')"
                class="ml-5"
                >Full View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #modalSignage8 let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Library</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <label class="col-md-2 p-0">Folder Name:</label>
        <select name="cmbCustomer" class="col-md-3 custom-select mb-3 mt-2" (change)="onChangeLibraryFolder()"
          id="cmbFolder" [(ngModel)]="cmbLibraryFolder">
          <option selected value="0">All</option>
          <option *ngFor="let cLst of LibraryFolderList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>

        
      </div>
      <div class="row">
        <div class="col-sm-4 col-6 mb-2" *ngFor="let songLst of SongsList">
          <div class="card">
            <img
              class="card-img-top p-1"
              src="{{ songLst.TitleIdLink }}"
              alt="Card image"
              style="height: 100px; object-fit: contain"
            />
            <div class="card-body p-1 border-top">
              <a
                href="javascript:;"
                (click)="SetImage(songLst.TitleIdLink, songLst.title,8)" (click)="d('Cross click')"
                class="btn btn-primary btn-sm"
                >Set</a
              >
              <a
                href="javascript:;"
                (click)="OpenFullImageModal(modalFullImage, songLst.TitleIdLink)"
                (click)="d('Cross click')"
                class="ml-5"
                >Full View</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>