<div class="row p-0 m-0">
    <div class="col-lg-12 p-0">
        <!--<iframe *ngIf="oType==='495'" class="PT" [src]="urlSafe"></iframe>
        <iframe *ngIf="oType==='496'" class="LS" [src]="urlSafe"></iframe>-->
        <iframe *ngIf="oType==='496'" [src]="urlSafe" title="Template 8" scrolling="no" frameborder="0" width="820" height="470"></iframe> 
        <iframe *ngIf="oType==='495'"   [src]="urlSafe" title="Template 4" scrolling="no" frameborder="0" width="450" height="768"></iframe> 
    
    </div>
</div>
