/* You can add global styles to this file, and also import other style files
@import url(~node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(~node_modules/font-awesome/css/font-awesome.css);

*/
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "assets/css/main.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&amp;display=swap");
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css");
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #37332d;
  /*
    background-position: 50% 50%;
    background-image: url(/assets/img/bg.jpeg);
   background-repeat:repeat;
    background-size: cover;*/
}
.activeInner {
  background-color: #fff !important;
  border: 1px solid #9d9b9b !important;
  margin-right: 10px;
  margin-left: 10px;
}
.hovercls:hover {
  background-color: #fff;
  border: 1px solid #9d9b9b;
}
/* .modal-lg,
.modal-xl {
  max-width: 80%;
} */
.bs-timepicker-field {
  width: 60px !important;
}
.form-control-spl-Width {
  width: 20% !important;
}
.input-group.input-group-unstyled input.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}
.input-group-addon {
  padding: 10px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}
.cursor {
  cursor: pointer;
}
.form-control:disabled,
.form-control[readonly] {
  /* background-color: #fff !important; */
}
.cursor-pointer {
  cursor: pointer;
}
.Link-Center_Width {
  text-align: center;
  max-width: 3%;
  width: 3%;
}
.custom-control-inline {
  margin: 0 0 0 0;
}
.cdk-overlay-container {
  z-index: 999999999 !important;
}
.table {
  cursor: pointer;
}
.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-responsive {
  background: #fff !important;
  color: #000 !important;
}
body {
  background-color: #fafbfe;
  /* color: #fff; */
}
body {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  padding: 0;
  margin: 0;
  color: #535f6b;
  background: #fafbfe;
}
/* .modal-content {
  background-color: #37332d !important;
}
.close {
  color: #fff;
} */
.multiselect-dropdown .dropdown-btn {
  background-color: #fff;
  color: #000;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  background-color: #37332d;
  color: white;
  border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  background-color: #37332d;
  color: white;
  border-radius: 5px;
}
.nav {
  background-color: #fff !important;
}
.table .thead-light th {
  background-color: #37332d !important;
  color: #fff !important;
}
.WidthTitle {
  width: 40%;
}
.WidthArtist {
  width: 20%;
}
.WidthLength {
  width: 8%;
}
.WidthCategory {
  width: 17%;
}

/* .modal-dialog {
  margin-left: auto;
  margin-right: auto;
} */
.mt-5 {
  margin-top: 2rem !important;
}
.fa {
  margin-left: 2px;
}

.user_card {
  height: 440px;
  width: 350px;
  /* margin-top: 10%;*/
  margin-top: 5%;
  margin-bottom: auto;
  background: #e3e3e5;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  /*  position: absolute;
 /* top: -75px;
 /*01
 21    top: 50px;*/
  text-align: center;
}
.brand_logo {
  width: 150px;
  height: 150px;
  /*border-radius: 50%;
    border: 2px solid white;
     /*width: 250px;*/
}
.form_container {
  margin-top: 100px;
}
.table-sm th,
.table-sm td {
  padding: 0.1rem !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.1rem !important;
  padding-left: 0.1rem !important;
}
.owl-dt-control-arrow-button svg {
  fill: #000 !important;
}
table.dataTable {
  width: 100% !important;
}

th[sortable].desc:before,
th[sortable].asc:before {
  content: "";
  display: block;
  background: url("./assets/img/sort_asc.png") no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: right;
}
th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
th[sortable].descasc:before {
  content: "";
  display: block;
  background: url("./assets/img/sort_both.png") no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: right;
}

th[sortableOpen].desc:before,
th[sortableOpen].asc:before {
  content: "";
  display: block;
  background: url("./assets/img/sort_asc.png") no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: right;
}
th[sortableOpen].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
th[sortableOpen].descasc:before {
  content: "";
  display: block;
  background: url("./assets/img/sort_both.png") no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: right;
}
/* main start */

.clear {
  clear: both !important;
}
::-webkit-input-placeholder {
  font-family: Nunito, sans-serif;
}
/* pagination */
.pagination {
  color: #333;
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.page-item.disabled .page-link {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
  padding: 3px 10px;
}
.page-item.active .page-link {
  padding: 3px 10px;
  color: #4788ff !important;
  border: 1px solid #4788ff !important;
  background: #c9dcff !important;
  border-radius: 5px;
}
/* pagination end */

th {
  font-size: 14.5px !important;
}
tr,
td {
  font-size: 14.5px !important;
}
.page-link {
  position: relative;
  display: block;
  padding: 3px 10px !important;
  margin-left: -1px;
  line-height: 1.25;
  color: #333 !important;
  background-color: #fff;
  border: 0;
}
.search-results {
  height: 200px !important;
  overflow-y: scroll;
}
/* .iq-top-navbar.p-0 {
  background: #f6f6f6 !important;
} */
