
.form-control::placeholder  {
    font-family: FontAwesome;
  }

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color:white !important;
        border: 1px solid #ddd;
        padding: .35em;
    }

    table th,
    

    table th {
        font-size: .85em;
        letter-spacing: .1em;
     
    }

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
            height: 50px;
        }
        .custom-control-label {
            position: relative;
            margin-bottom: 0;
            vertical-align: top;
            margin-left: 10px;
        }
        table tr:hover {
            background-color: #f8f8f8 !important;
            
        }

            table td::before {
                /*
* aria-label has no advantage, it won't be read inside a table
content: attr(aria-label);
*/
                content: attr(data-label);
                float: left;
                font-weight: bold;
               
            }

            table td:last-child {
                border-bottom: 0;
            }
}











.was-validated .custom-select:invalid, .custom-select.is-invalid{
    border-color: #dc3545;
    padding-right: 3.4375rem;
    background-color: white !important;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right -1.25rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") no-repeat center right 0.5rem/1.125rem 1.125rem;
}

