<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' , fullScreenBackdrop: true }">
</ngx-loading>
<div class="container-fluid m-0 p-0">
  <div class="col-sm-12 p-0">
    <div class="form-row">
      <div class="form-group col-sm-3 m-0">
        <label for="cmbCustomer" class="mb-2 mr-sm-2">Customer Name:</label>
        <select
          name="CustomerName"
          class="custom-select mb-3"
          (change)="onChangeCustomer($event.target.value)"
          id="cmbCustomer"
        >
          <option selected value="0"></option>
          <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>
      </div>
      <div class="form-group col-sm-3 m-0">
        <label for="cmbPlayer" class="mb-2 mr-sm-2">Player:</label>
        <select
          name="PlayerName"
          class="custom-select mb-3"
          (change)="onChangePlayer($event.target.value)"
          id="cmbPlayer"
        >
          <option selected value="0"></option>
          <option *ngFor="let tLst of TokenList" [value]="tLst.tokenid">
            {{ tLst.tokenid }}-{{ tLst.Name }}
          </option>
        </select>
      </div>
      <div class="form-group col-sm-3 m-0">
        <label for="SearchFromDate" class="mb-2 mr-sm-2">From Date:</label>
        <input
          id="SearchFromDate"
          class="form-control mb-2 mr-sm-2"
          [owlDateTimeTrigger]="dtFromDate"
          [(ngModel)]="SearchFromDate"
          [owlDateTime]="dtFromDate"
          readonly
        />
        <owl-date-time
          [pickerType]="'calendar'"
          (afterPickerClosed)="SearchPlayedTitleSummary()"
          #dtFromDate
        ></owl-date-time>
      </div>
      <div class="form-group col-sm-3 m-0">
        <label for="SearchToDate" class="mb-2 mr-sm-2">To Date:</label>
        <input
          id="SearchToDate"
          class="form-control mb-2 mr-sm-2"
          [owlDateTimeTrigger]="dtToDate"
          [(ngModel)]="SearchToDate"
          [owlDateTime]="dtToDate"
          readonly
        />
        <owl-date-time
          [pickerType]="'calendar'"
          (afterPickerClosed)="SearchPlayedTitleSummary()"
          #dtToDate
        ></owl-date-time>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="table data-table table-striped table-bordered mydatatable"
      >
        <thead class="bg-primary">
          <tr>
            <th class="text-white" style="display: none"></th>
            <th class="text-white" scope="col">Date-Time</th>
            <th class="text-white" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sgLst of PlayedSongList">
            <td style="display: none"></td>
            <td data-label="Date-Time">
              {{ sgLst.PlayedDateTime }} {{ sgLst.pDateTime }}
            </td>
            <td data-label="">{{ sgLst.Name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
