<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
></ngx-loading>
<div class="col-lg-12 p-0">
  <ul ngbNav #ktpUrl="ngbNav" (activeId)="1" class="nav-tabs">
    <li [ngbNavItem]="1" class="pr-2">
      <a ngbNavLink>Search</a>
      <ng-template ngbNavContent>
        <div class="col-sm-12">
          <div class="form-row">
            <div class="form-group col-sm-3 m-0">
              <label for="cName" class="mb-2 mr-sm-2">Customer Name:</label>
              <select
                name="cName"
                class="custom-select mb-3"
                (change)="onChangeSearchCustomer($event.target.value)"
                [(ngModel)]="cmbSearchCustomer"
                id="cName"
              >
                <option selected value="0"></option>
                <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
                  {{ cLst.DisplayName }}
                </option>
              </select>
            </div>
            <div class="form-group col-sm-3 m-0">
              <label for="SearchTName" class="mb-2 mr-sm-2">Token :</label>
              <select
                class="custom-select mb-3"
                (change)="onChangeToken($event.target.value)"
                id="SearchTName"
                [(ngModel)]="cmbSearchToken"
              >
                <option selected value="0"></option>
                <option *ngFor="let fLst of SearchTokenList" [value]="fLst.tokenid">
                  {{ fLst.tokenCode }} - {{ fLst.location }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table data-table table-striped table-bordered mydatatable">
              <thead class="bg-primary">
                  <tr>
                    <th scope="col">Label</th>
                    <th scope="col">Name</th>
                    <th scope="col">Notes</th>
                    <th class="Link-Center_Width"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cLst of PlayerChannelList; let i = index">
                      <td data-label="Label">
                            {{ cLst.channellabel }}
                        </td>
                        <td data-label="Name">
                            {{ cLst.channelname }}
                        </td>
                        <td data-label="Notes">
                          {{ cLst.channeldesc }}
                      </td>
                      <td
                  data-label=""
                  class="cursor-pointer Link-Center_Width"
                  (click)="openDeleteModal(DeleteModal, cLst.id)"
                >
                  <i
                    class="fa fa-trash"
                    style="color: red"
                    aria-hidden="true"
                  ></i>
                </td>
                </tr>
                </tbody>
          </table>
      </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" class="pr-2">
      <a ngbNavLink>AddNew</a>
      <ng-template ngbNavContent>
        <div class="container-fluid">

        

<div class="row m-0 p-0">
  <div class="col-lg-12 m-0 p-0">
    <div class="form-row">
      <div class="form-group col-sm-3 m-0">
        <label for="SearchcName" class="mb-2 mr-sm-2"
          >Customer Name:</label
        >
        <select
          name="SearchcName"
          class="custom-select mb-3"
          [(ngModel)]="cmbCustomer"
          (change)="onChangeCustomer($event.target.value)"
          id="SearchcName"
        >
          <option selected value="0"></option>
          <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
            {{ cLst.DisplayName }}
          </option>
        </select>
      </div>
      <div class="form-group col-sm-4 m-0">
        <label for="SearchTName" class="mb-2 mr-sm-2">Token :</label>
        <ng-multiselect-dropdown
          id="Dispenser"
          [placeholder]="' '"
          [settings]="dropdownSettings"
          [data]="TokenList"
          [(ngModel)]="cmbToken"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group col-sm-3 m-0">
        <div class="custom-control custom-checkbox  pt-4 mt-2">
          <input
             
            type="checkbox"
            class="custom-control-input"
            name="OverightAssignAssign"
            id="OverightAssignAssign"
            [(ngModel)]="chk_Overight_Assign"
          />
          <label
            class="custom-control-label cursor-pointer"
            for="OverightAssignAssign"
            >Override previous assgined channels</label
          >
        </div>
      </div>
      <div class="form-group col-sm-2 m-0">
        <button
        class="btn btn-primary mt-5 mb-2"
        type="button"
         (click)="SaveChannels()"
      >
        <i class="fa fa-floppy-o fa-lg"></i>
      </button>
      </div>
    </div>
  </div>
</div>


<div class="row m-0 p-0">
  <div class="col-lg-12 m-0 p-0">
    <div class="table-responsive">
        <table class="table data-table table-striped table-bordered mydatatable">
            <thead class="bg-primary">
                <tr>
                  <th scope="col" style="width: 60px">
                    <div class="custom-control custom-checkbox">
                      <input
                        (change)="allToken_KPN_Assign($event)"
                        type="checkbox"
                        class="custom-control-input"
                        name="AllActiveTokenAssign"
                        id="AllActiveTokenAssign"
                        [(ngModel)]="chkAll_KPN_Assign"
                      />
                      <label
                        class="custom-control-label cursor-pointer pt-1 text-white"
                        for="AllActiveTokenAssign"
                        >All</label
                      >
                    </div>
                  </th>
                  <th scope="col">Label</th>
                  <th scope="col">Name</th>
                  <th scope="col">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cLst of ChannelList; let i = index">
                  <td data-label="" class="" style="width: 1%">
                    <div class="custom-control custom-checkbox">
                      <input
                        (change)="SelectChannel(cLst.id, $event)"
                        type="checkbox"
                        class="custom-control-input"
                        id="{{ cLst.id }}{{ i }}"
                        name="chkTokenList"
                        [checked]="cLst.check"
                      />
                      <label
                        class="custom-control-label cursor-pointer"
                        for="{{ cLst.id }}{{ i }}"
                      ></label>
                    </div>
                  </td>
                    <td data-label="Label">
                          {{ cLst.label }}
                      </td>
                      <td data-label="Name">
                          {{ cLst.fullname }}
                      </td>
                      <td data-label="Notes">
                        {{ cLst.notes }}
                    </td>
              </tr>
              </tbody>
        </table>
    </div>
  </div>
</div>

</div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="ktpUrl" class="mt-2"></div>
</div>
<ng-template #modalChannelDetail let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">{{ChannelSource['fullname']}}</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
        <div class="col-sm-12 mb-2">
            <video width="640" height="480" [src]="ChannelSource['src']" controls> 
            </video>
        </div>
        <div class="col-sm-12">
            {{ChannelSource['notes']}}
          </div>
      </div>
      </div>
    </div>
  </ng-template>

  
<ng-template #DeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Delete</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>Are you sure to delete?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-primary col-sm-2 pull-right"
            (click)="d('Cross click')"
          >
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-danger col-sm-2 pull-right mr-2"
            (click)="DeleteChannel()"
            (click)="d('Cross click')"
          >
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
