<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' , fullScreenBackdrop: true }">
</ngx-loading>
<div class="col-lg-12 p-0">
    <ul ngbNav #ttpUrl="ngbNav" [(activeId)]="UrlActiveTabId" class="nav-tabs">
        <li [ngbNavItem]="1" class="pr-2">
          <a ngbNavLink>Search</a>
            <ng-template ngbNavContent>
                <div class="container-fluid">
                    <div class="form-group col-sm-4 m-0">
                        <label for="SearchCName" class="mb-2 mr-sm-2"
                          >Customer Name:</label
                        >
                        <select
                          name="SearchCustomerName"
                          class="custom-select mb-3"
                          [(ngModel)]="cmbSearchCustomer"
                          (change)="onChangeSearchCustomer($event.target.value)"
                          id="SearchCName"
                        >
                          <option selected value="0"></option>
                          <option
                            *ngFor="let cLst of SearchCustomerList"
                            [value]="cLst.Id"
                          >
                            {{ cLst.DisplayName }}
                          </option>
                        </select>
                      </div>
                </div>
                <div class="table-responsive">
                    <table class="table data-table table-striped table-bordered mydatatable">
                        <thead class="bg-primary">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Orientation</th>
                                <th scope="col">Duration </th>
                                <th scope="col">Refersh Time</th>
                                <th scope="col" class="Link-Center_Width"></th>
                                <th scope="col" class="Link-Center_Width"></th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let adLst of UrlList| slice: (page - 1) * pageSize: (page - 1) * pageSize + pageSize">
                                <td data-label="Advt Name">
                                    <a href="javascript:;" (click)="OpenViewContent(viewcontent, adLst.urlLink,adLst.cmbGenre)">
                                      {{ adLst.urlName }}
                                    </a>
                                  </td>
                                  <td  data-label="Orientation">
                                  <span *ngIf="adLst.cmbGenre==='496'">Landscape Url</span>  
                                  <span *ngIf="adLst.cmbGenre==='495'">Portrait Url</span>  
                                  </td>
                                  <td  data-label="Duration">
                                    <span *ngIf="adLst.Url_Time_With_Min == false">
                                      {{adLst.duration}} Seconds 
                                    </span>
                                    <span *ngIf="adLst.Url_Time_With_Min == true">
                                      {{adLst.duration_min}} Minutes
                                    </span>
                                  </td>
                                  <td  data-label="Refersh Time">
                                    <span *ngIf="adLst.Url_Time_With_Min == false">
                                      {{adLst.refersh}} Seconds
                                    </span>
                                    <span *ngIf="adLst.Url_Time_With_Min == true">
                                      {{adLst.refershtime_min}} Minutes
                                    </span>
                                  </td>
                                  <td data-label="" class="cursor-pointer Link-Center_Width">
                                <a href="javascript:;" (click)="EditUrl(adLst)" (click)="UrlActiveTabId = 2">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                              </td>
                              <td data-label="" class="cursor-pointer Link-Center_Width" (click)="openUrlDeleteModal(UrlDeleteModal, adLst.id,adLst.urlName)">
                                  <i class="fa fa-trash" style="color: red" aria-hidden="true"></i>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination
                    [collectionSize]="UrlList.length"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [boundaryLinks]="true"
                  size="sm"
                  ></ngb-pagination>
                </div>
            </ng-template>
          </li>
        <li [ngbNavItem]="2" class="pr-2">
          <a ngbNavLink>AddNew</a>
            <ng-template ngbNavContent>
                <div class="container-fluid">
                    <form [formGroup]="frmUrl">
                        <div class="form-row">
                            <div class="form-group col-sm-3 m-0">
                            <label for="cName" class="mb-2 mr-sm-2">Customer:</label>
                              <select name="cName" class="custom-select  mb-2 mr-sm-2" formControlName="cmbCustomer" (change)="onChangeCustomer($event.target.value)">
                          <option selected value="0"></option>
                          <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
                            {{ cLst.DisplayName }}
                          </option>
                        </select>
                            </div>
                            <div class="form-group col-sm-2 m-0">
                              <label for="cName" class="mb-2 mr-sm-2">Orientation:</label>
                                <select name="cName" class="custom-select  mb-2 mr-sm-2" formControlName="cmbGenre">
                            <option selected value="0"></option>
                            <option selected value="496">Landscape Url</option>
                            <option selected value="495">Portrait Url</option>
                          </select>
                              </div>
                            <div class="form-group col-sm-3 m-0">
                                <label for="cName" class="mb-2 mr-sm-2">Folder Name:</label>
                                  <select name="cName" class="custom-select col-sm-10 mb-2 mr-sm-2" formControlName="cmbFolder" (change)="onChangeFolder($event.target.value)">
                              <option selected value="0"></option>
                              <option *ngFor="let fLst of FolderList" [value]="fLst.Id">
                              {{ fLst.DisplayName }}
                            </option>
                            </select>
                              <button class="btn btn-primary" (click)="openFolderModal(modalFolder)" 
                          data-toggle="tooltip" data-placement="top" title="New/Edit Folder"
                        ><i class="fa fa-bars" aria-hidden="true"></i></button>
                                </div>

                                

                            <div class="form-group col-sm-3 m-0">
                                <label for="cName" class="mb-2 mr-sm-2"
                                >Name:</label
                              >
                              <input type="text" formControlName="urlName" id="cName" autocomplete="off" class="form-control mb-2 mr-sm-2"/>
                            </div>
                            <div class="form-group col-sm-1 m-0">
                              <div class="custom-control custom-checkbox  mb-2 mt-5">
                                <input type="checkbox"  formControlName="Url_Time_With_Min" class="custom-control-input" id="customCheck" name="example1">
                                <label class="custom-control-label" for="customCheck">Minutes</label>
                              </div>    
                            </div>
                            <div *ngIf="frmU.Url_Time_With_Min.value == true" class="form-group col-sm-2 m-0">
                              <label for="cName" class="mb-2 mr-sm-2"
                              >Duration (Minutes):</label
                            >
                            <input type="number" min="1" formControlName="duration_min" id="cName" autocomplete="off" class="form-control mb-2 mr-sm-2"/>
                          </div>
                          <div *ngIf="frmU.Url_Time_With_Min.value == true" class="form-group col-sm-2 m-0">
                            <label for="cName" class="mb-2 mr-sm-2"
                            >Refersh Time (Minutes):</label
                          >
                          <input type="number" min="2" formControlName="refershtime_min" id="cName" autocomplete="off" class="form-control mb-2 mr-sm-2"/>
                        </div>
                            <div *ngIf="frmU.Url_Time_With_Min.value == false" class="form-group col-sm-2 m-0">
                              <label for="cName" class="mb-2 mr-sm-2"
                              >Duration (Seconds):</label
                            >
                            <input type="number" min="20" formControlName="duration" id="cName" autocomplete="off" class="form-control mb-2 mr-sm-2"/>
                          </div>
                          <div *ngIf="frmU.Url_Time_With_Min.value == false" class="form-group col-sm-2 m-0">
                            <label for="cName" class="mb-2 mr-sm-2"
                            >Refersh Time (Seconds):</label
                          >
                          <input type="number" min="40" formControlName="refersh" id="cName" autocomplete="off" class="form-control mb-2 mr-sm-2"/>
                        </div>
                            <div class="form-group col-sm-3 m-0">
                                <label for="cName" class="mb-2 mr-sm-2"
                                  >Template Url:</label
                                >
                                <input type="text" id="cName" formControlName="urlLink" autocomplete="off" class="form-control mb-2 mr-sm-2"/>
                              </div>
                              <div class="d-none form-group col-sm-2 m-0">
                                <div class="custom-control custom-checkbox  mb-2 mt-5">
                                  <input type="checkbox"  formControlName="IsAnnouncement" class="custom-control-input" id="customCheck" name="example1">
                                  <label class="custom-control-label" for="customCheck">Is Sensor Announcement</label>
                                </div>    
                              </div>
                              <div class="form-group col-sm-2 m-0">
                                <button (click)="SaveUrl()" class="btn btn-primary mr-2" type="button" style="margin-top: 32px">
                                  Save
                                </button>
                                <button (click)="CancelPage()" class="btn btn-primary" type="button" style="margin-top: 32px">
                                  Cancel
                                </button>
                              </div>
                        </div>
                    </form>
                </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="ttpUrl" class="mt-2"></div>
</div>

<ng-template #UrlDeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Delete Ads</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>Are you sure to delete?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-primary col-sm-2 pull-right"
            (click)="d('Cross click')"
          >
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-danger col-sm-2 pull-right mr-2"
            (click)="DeleteUrl()"
            (click)="d('Cross click')"
          >
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template class="pt_main" #viewcontent let-c="close" let-d="dismiss">
  
    <button
      type="button"
      class="close text-right"
      aria-label="Close"
      (click)="CloseModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
   
  <div class="modal-body p-0">
    <app-view-content></app-view-content>
  </div>
</ng-template>

<ng-template #modalFolder let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Folder</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <label for="State" class="mb-2 mr-sm-2"
            >Folder Name:</label
          >
          <input
            type="text"
            [(ngModel)]="NewFolderName"
            class="form-control mb-2 mr-sm-2"
            id="fName"
          />
        </div>
      </div>
      
     
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-primary col-sm-2 pull-right"
            type="button"
            (click)="onSubmitFolder()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>