.file-upload {
  cursor: pointer;
  display: block;
  text-align: center;
}

.file-upload .file-select {
  cursor: pointer;
  display: block;
  color: #34495e;
  cursor: pointer;

  text-align: left;
  overflow: hidden;
  position: relative;
  top: 33px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.file-upload .file-select .file-select-button {
  cursor: pointer;
  color: #ffffff;

  text-align: center;
}

.file-upload .file-select .file-select-name {
  cursor: pointer;

  display: inline-block;
}

.file-upload.active .file-select {
  cursor: pointer;
  border-color: #3fa46a;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  cursor: pointer;
  background: #3fa46a;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}
.Link-Center_Width {
  width: 3% !important;
}
@media (min-width: 767px) and (max-width: 768px) {
  label {
    font-size: 0.85em;
  }
}
