<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }">
</ngx-loading>

<div class="col-lg-12" style="padding: 0 0 0 0">
  <ngb-tabset #tPl="ngbTabset">
    <ngb-tab id="tab-search" title="Search">
      <ng-template ngbTabContent>
        <div class="col-sm-12">
          <div class="form-row">
            <div class="form-group col-sm-3 m-0">
              <label for="SearchAdsDate" class="mb-2 mr-sm-2">Date:</label>
              <input
              id="SearchAdsDate"
              class="form-control mb-2 mr-sm-2"
              [owlDateTimeTrigger]="dtAdsDate"
              [(ngModel)]="SearchAdsDate"
              [owlDateTime]="dtAdsDate"
              readonly
            />
            <owl-date-time
              [pickerType]="'calendar'"
              (afterPickerClosed)="SearchContent()"
              #dtAdsDate
            ></owl-date-time>
            </div>
            <div class="form-group col-sm-3 m-0">
              <label for="SearchcName" class="mb-2 mr-sm-2">Customer Name:</label>
              <select
                name="SearchcName"
                class="custom-select mb-3"
                [(ngModel)]="cmbSearchCustomer"
                (change)="onChangeSearchCustomer($event.target.value)"
                id="SearchcName"
              >
                <option selected value="0"></option>
                <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
                  {{ cLst.DisplayName }}
                </option>
              </select>
            </div>
            <div class="form-group col-sm-3 m-0 d-none">
              <label for="SearchfName" class="mb-2 mr-sm-2">Token :</label>
              <select
                class="custom-select mb-3"
                [(ngModel)]="cmbSearchToken"
                (change)="onChangeSearchToken($event.target.value)"
                id="SearchfName"
              >
                <option selected value="0"></option>
                <option
                  *ngFor="let fLst of SearchTokenList"
                  [value]="fLst.tokenid"
                >
                  {{ fLst.tokenid }} - {{ fLst.location }}
                </option>
              </select>
            </div>
  
            <div class="form-group col-sm-1 m-0 text-right text-sm-left">
              <div class="mt-sm-2">
                <button
                  class="btn btn-secondary mt-sm-4"
                  type="button"
                  (click)="SearchContent()"
                >
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="table-responsive">
          <table
            class="table data-table table-striped table-bordered mydatatable"
          >
            <thead class="bg-primary">
              <tr>
                <th scope="col" style="width: 190px">Campaign Name</th>
                <th scope="col">Playlist Name</th>
                <th scope="col" style="width: 120px">Start Date</th>
                <th scope="col" style="width: 120px">End Date</th>
                <th scope="col">Week Day</th>
                <th scope="col" class="Link-Center_Width" *ngIf="!IschkViewOnly"></th>
                <th scope="col" class="Link-Center_Width" *ngIf="!IschkViewOnly"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let schLst of ScheduleList
                    | slice
                      : (pageSearch - 1) * pageSizeSearch
                      : (pageSearch - 1) * pageSizeSearch + pageSizeSearch;
                  let it = index
                "
              >
                <td data-label="Campaign Name">{{ schLst.formatName }}</td>
                <td data-label="PlayList Name">{{ schLst.playlistName }}</td>
                <td data-label="Start Time">{{ schLst.StartTime }}</td>
                <td data-label="End Time">{{ schLst.EndTime }}</td>
                <td data-label="Week Day">{{ schLst.WeekNo }}</td>
                <td *ngIf="!IschkViewOnly"
                  data-label=""
                  class="cursor-pointer Link-Center_Width"
                  (click)="EditClick(schLst.id,schLst.token)"
                  (click)="tPl.select('tab-AddNew')"
                >
                  <i
                    class="fa fa-pencil-square-o"
                    
                    aria-hidden="true"
                  ></i>
                </td>
                <td *ngIf="!IschkViewOnly"
                  data-label=""
                  class="cursor-pointer Link-Center_Width"
                  (click)="
                    openAdsDeleteModal(AdsDeleteModal, schLst.id, schLst.token)
                  "
                >
                  <i
                    class="fa fa-trash"
                    style="color: red"
                    aria-hidden="true"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination
            [collectionSize]="ScheduleList.length"
            [(page)]="pageSearch"
            [pageSize]="pageSizeSearch"
            aria-label="Default pagination"
          ></ngb-pagination>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-AddNew" title="AddNew" *ngIf="!IschkViewOnly">
      <ng-template ngbTabContent>
        <div class="container-fluid">
          <form [formGroup]="Plform" (ngSubmit)="onSubmitPL(ForceUpdate)">
            <div class="form-row">
              <div class="form-group col-sm-4 m-0">
                <label for="cName" class="mb-2 mr-sm-2">Customer Name:</label>
                <select
                  class="custom-select mb-3"
                  [ngClass]="{ 'is-invalid': submitted && f.CustomerId.errors }"
                  formControlName="CustomerId"
                  (change)="onChangeCustomer($event.target.value)"
                  id="cName"
                >
                  <option selected value="0"></option>
                  <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
                    {{ cLst.DisplayName }}
                  </option>
                </select>
                <div
                  *ngIf="submitted && f.CustomerId.errors"
                  class="invalid-feedback"
                ></div>
              </div>
              <div class="form-group col-sm-2 m-0">
                <label for="fName" class="mb-2 mr-sm-2">Campaign Name:</label>
                <select
                  class="custom-select mb-3"
                  [ngClass]="{ 'is-invalid': submitted && f.FormatId.errors }"
                  formControlName="FormatId"
                  (change)="onChangeFormat($event.target.value)"
                  id="fName"
                >
                  <option selected value="0"></option>
                  <option *ngFor="let fLst of FormatList" [value]="fLst.Id">
                    {{ fLst.DisplayName }}
                  </option>
                </select>
                <div
                  *ngIf="submitted && f.FormatId.errors"
                  class="invalid-feedback"
                ></div>
              </div>
              <div class="form-group col-sm-2 m-0">
                <label for="pName" class="mb-2 mr-sm-2">Playlist Name:</label>
                <select
                  class="custom-select mb-3"
                  [ngClass]="{ 'is-invalid': submitted && f.PlaylistId.errors }"
                  formControlName="PlaylistId"
                  id="pName"
                >
                  <option selected value="0"></option>
                  <option *ngFor="let pLst of PlaylistList" [value]="pLst.Id">
                    {{ pLst.DisplayName }}
                  </option>
                </select>
                <div
                  *ngIf="submitted && f.PlaylistId.errors"
                  class="invalid-feedback"
                ></div>
              </div>
  
              <div class="form-group col-sm-2 m-0">
                <label for="dt7" class="mb-2 mr-sm-2">Start Date:</label>
                <input
                  id="dt7"
                  formControlName="sDate"
                  class="form-control mb-2 mr-sm-2"
                  [owlDateTimeTrigger]="dt7"
                  [owlDateTime]="dt7"
                  readonly
                />
                <owl-date-time [pickerType]="'calendar'" #dt7></owl-date-time>
              </div>
              <div class="form-group col-sm-2 m-0">
                <label for="dt8" class="mb-2 mr-sm-2">End Date:</label>
                <input
                  id="dt8"
                  formControlName="eDate"
                  class="form-control mb-2 mr-sm-2"
                  [owlDateTimeTrigger]="dt8"
                  [owlDateTime]="dt8"
                  readonly
                />
                <owl-date-time [pickerType]="'calendar'" #dt8></owl-date-time>
              </div>
            </div>
  
            <div class="form-row">
              <!--
  
              <div class="form-group col-sm-2 d-none">
                <label class="mb-2 mr-sm-2" for="sTime">Start time: </label>
                <input id="sTime" class="form-control mb-2 mr-sm-2"
                  [ngClass]="{ 'is-invalid': submitted && f.startTime.errors }" formControlName="startTime"
                  [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" readonly>
                <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
                <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback"></div>
              </div>
              <div class="form-group col-sm-2 d-none">
                <label class="mb-2 mr-sm-2" for="sTime">End time: </label>
                <input id="eTime" class="form-control mb-2 mr-sm-2"
                  [ngClass]="{ 'is-invalid': submitted && f.EndTime.errors }" formControlName="EndTime"
                  [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
                <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                <div *ngIf="submitted && f.EndTime.errors" class="invalid-feedback"></div>
              </div>
            -->
  
              <div class="form-group col-sm-2 m-0">
                <label for="pType" class="mb-2 mr-sm-2">Playing Mode:</label>
                <select
                  name="plType"
                  formControlName="pMode"
                  class="custom-select"
                  id="pType"
                >
                  <option value="Minutes">Minutes</option>
                  <option value="Song">Content</option>
                </select>
              </div>
              <div class="form-group col-sm-2 m-0">
                <div style="padding: 0 0 0 5px">
                  <label for="pType" class="mb-2 mr-sm-2">Frequency: </label>
                  <input
                    type="number"
                    max="100"
                    min="1"
                    id="pType"
                    formControlName="TotalFrequancy"
                    autocomplete="off"
                    class="form-control mb-2 mr-sm-2"
                  />
                </div>
              </div>
  
              <div class="form-group col-sm-3 m-0">
                <label class="mb-2 mr-sm-2" for="week">Week Day:</label>
                <ng-multiselect-dropdown
                  id="week"
                  [placeholder]="'Week Days'"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  formControlName="wList"
                >
                </ng-multiselect-dropdown>
              </div>
              <div class="form-group col-sm-2 m-0">
                <button class="btn btn-primary" style="margin-top: 32px">
                  Save
                </button>
                <button type="button" (click)="clear()" class="btn btn-primary ml-3" style="margin-top: 32px">
                  Cancel
                </button>
              </div>
            </div>
            <div class="form-row mb-1">
              <!-- <div
                class="form-group col-sm-12 m-0 pt-2 pb-2 border border-right-0 border-left-0"
              >
                Filter Records
              </div> -->
            </div>
            <div class="form-row">
              <!-- <div class="form-group col-lg-12">
                <div class="col-sm-4 m-0 float-right">
                  <label class="mb-2 mr-sm-2" for="City">Groups:</label>
                  <ng-multiselect-dropdown
                    id="GroupId"
                    [placeholder]="'Groups'"
                    [settings]="GroupSettings"
                    [data]="GroupList"
                    (onSelect)="onItemSelectGroup($event)"
                    (onSelectAll)="onSelectAllGroup($event)"
                    (onDeSelect)="onItemDeSelectGroup($event)"
                    (onDeSelectAll)="onDeSelectAllGroup($event)"
                    [(ngModel)]="SelectedGroupArray"
                    [ngModelOptions]="{ standalone: true }"
                  >
                  </ng-multiselect-dropdown>
                </div>
              </div> -->
              <div class="form-group col-sm-2 pb-0 m-0 mt-4">
                <div class="p-0 pr-1 m-0">
                  <div class="iq-search-bar device-search">
                    <div class="searchbox1">
                      <input
                        type="text"
                        id="txtSearch"
                        placeholder="Search"
                        class="form-control"
                        [(ngModel)]="SearchText"
                        [ngModelOptions]="{standalone: true}"
                        (input)="onChangeEvent_Search()"
                      />
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table
                class="table data-table table-striped table-bordered mydatatable mt-1"
              >
                <thead class="bg-primary">
                  <tr class="text-white">
                    <th scope="col" style="width: 60px">
                      <div class="custom-control custom-checkbox">
                        <input
                          (change)="allToken($event)"
                          type="checkbox"
                          class="custom-control-input"
                          name="allToken"
                          id="AllToken"
                          [(ngModel)]="chkAll_Token"
                          [ngModelOptions]="{standalone: true}"
                        />
                        <label
                          class="custom-control-label cursor-pointer pt-1 text-white"
                          for="AllToken"
                          >All</label
                        >
                      </div>
                    </th>
                    <th class="text-white" scope="col">Country</th>
                    <th class="text-white" scope="col">City</th>
                    <th class="text-white" scope="col">Location</th>
                    <th
                      class="text-white"
                      scope="col"
                      style="width: 120px !important"
                    >
                      Media Type
                    </th>
                    <th class="text-white" scope="col">Group</th>
                    <th class="text-white" scope="col">Token No</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let TokenLst of TokenList | filter: SearchText; let i = index">
                    <td data-label="" class="">
                      <div class="custom-control custom-checkbox">
                        <input
                          (change)="SelectToken(TokenLst.tokenid, $event)"
                          type="checkbox"
                          class="custom-control-input"
                          id="{{ TokenLst.tokenid }}{{ i }}"
                          [checked]="TokenLst.check"
                          name="chkTokenList"
                        />
                        <label
                          class="custom-control-label cursor-pointer"
                          for="{{ TokenLst.tokenid }}{{ i }}"
                        ></label>
                      </div>
                    </td>
                    <td data-label="Country ">{{ TokenLst.countryName }}</td>
                    <td data-label="City">{{ TokenLst.city }}</td>
                    <td data-label="Location">{{ TokenLst.location }}</td>
                    <td data-label="Media Type">
                      {{ TokenLst.MediaType }}
                    </td>
                    <td data-label="Group">
                      {{ TokenLst.gName }}
                    </td>
                    <td data-label="Token No">{{ TokenLst.tokenCode }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>







 
  
</div>

<ng-template #AdsDeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Delete Ads</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>Are you sure to delete?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-primary col-sm-2 pull-right"
            (click)="d('Cross click')"
          >
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-danger col-sm-2 pull-right mr-2"
            (click)="DeleteAds()"
            (click)="d('Cross click')"
          >
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #ForceUpdate let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Publish</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 m-0 p-0">
          <p style="margin: 0 !important">You want to update locations now?</p>
        </div>
        <div class="col-sm-12 m-0 p-0 mt-1">
          <p style="font-size: smaller">
            Note: Have in mind that changes will be implemented immediately with
            restart of the program.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-4 p-0 text-right">
          <button
            class="btn btn-primary"
            (click)="ForceUpdateAll()"
            (click)="d('Cross click')"
          >
          Publish Now
          </button>
        </div>
        
          <div class="col-sm-6">
          <button
          class="btn btn-primary"
          (click)="PublishSchedule()"
          (click)="d('Cross click')"
        >
          Publish with Schedule
        </button></div>

        <div class="col-sm-2 p-0 text-right">
          <button
            class="btn btn-primary"
            (click)="d('Cross click')"
          >
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </button>
          </div>
        
      </div>
    </div>
  </div>
</ng-template>