<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' ,fullScreenBackdrop:true}">
</ngx-loading>


<div class="row m-0 p-0">
  

  
   
 
      <div class="col-sm-2 mt-2 pr-0 colAudio">
        <!--
        <span class="pull-left text-white" style="width: 260px">Add songs in selected playlist</span>
        -->
        <div class="custom-control custom-radio custom-control-inline  mb-2 mr-2">
          <input type="radio" class="custom-control-input cursor-pointer" id="Audio" (change)="MediaRadioClick('Audio')"
            name="chkMediaType" [checked]="true">
          <label class="custom-control-label cursor-pointer" for="Audio">Audio</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline  mb-2 mr-2">
          <input type="radio" class="custom-control-input cursor-pointer" id="Video" (change)="MediaRadioClick('Video')"
            name="chkMediaType">
          <label class="custom-control-label cursor-pointer" for="Video">Video</label>
        </div>

        <div class="d-none custom-control custom-radio custom-control-inline  mb-2 mr-2">
          <input type="radio" class="custom-control-input cursor-pointer" id="Image" (change)="MediaRadioClick('Image')"
            name="chkMediaType">
          <label class="custom-control-label cursor-pointer" for="Image">Image</label>
        </div>


        <div  *ngIf="chkMediaRadio !='Image'" class="col-sm-12 m-0 p-0">
          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-2">
            <input type="radio" class="custom-control-input cursor-pointer" id="CL" (change)="MediaRadioClick('CL')"
              name="chkMediaFilter" [checked]=IsCL>
            <label class="custom-control-label cursor-pointer" for="CL">Copyright</label>
          </div> 

          <div *ngIf="chkMediaRadio=='Audio'" class="custom-control custom-radio custom-control-inline  mb-2 mr-2">
            <input type="radio" class="custom-control-input cursor-pointer" id="DL" 
            (change)="MediaRadioClick('RF')" 
              name="chkMediaFilter" [checked]=IsRF>
            <label class="custom-control-label cursor-pointer" for="DL">Direct Licence</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mt-2 m-0 p-0">
        <div class="col-sm-10 m-0 p-0 float-left colInput">
          <form (keydown)="keyDownFunction($event)">
            <input *ngIf="(Search==true )" type="text" [(ngModel)]="SearchText" value="" [ngModelOptions]="{standalone: true}"
              placeholder="Search" class="form-control" />
          </form>
          <select *ngIf="(Search==false)" name="cmbAlbum"   class="custom-select"
            (change)="onChangeAlbum($event.target.value)" id="cmbAlbum">
            <option selected value="0"></option>
            <option *ngFor="let aLst of AlbumList" [value]="aLst.Id">{{aLst.DisplayName}}</option>
          </select>

          
          <label *ngIf="((!Search) && (chkSearchRadio =='album'))" (click)="SearchRadioClick('album')"
          class="pull-right p-0 m-0">Clear Search</label>
        </div>
        <div class="col-sm-1 m-0 p-0 ml-1 float-left colBtn">
          <button class="btn btn-secondary mr-1 mb-1 " (click)="SearchContent()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-7 mt-1 pr-0 pl-2 colFilter">
        <div class="">
          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="title"
              (change)="SearchRadioClick('title')" name="chkSearch" [checked]="true">
            <label class="custom-control-label cursor-pointer mr-1" for="title">Title</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="Artist"
              (change)="SearchRadioClick('artist')" name="chkSearch">
            <label class="custom-control-label cursor-pointer mr-1" for="Artist">Artist</label>
          </div>
          <div class="d-none custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="Album"
              (change)="SearchRadioClick('album')" name="chkSearch">
            <label class="custom-control-label cursor-pointer mr-1" for="Album">Album</label>
          </div> 

          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="Genre"
              (change)="SearchRadioClick('Genre')" name="chkSearch">
            <label class="custom-control-label cursor-pointer mr-1" for="Genre">Genre</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="Language"
              (change)="SearchRadioClick('Language')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="Language">Language</label>
          </div>
          <div   class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="Folder"
              (change)="SearchRadioClick('Folder')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="Folder">Folder</label>
          </div>
          <div   class="custom-control custom-radio custom-control-inline  mb-2 mr-1 d-none">
            <input type="radio" class="custom-control-input cursor-pointer" id="Category"
              (change)="SearchRadioClick('Category')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="Category">Category</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="Label"
              (change)="SearchRadioClick('Label')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="Label">Label</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="BPM"
              (change)="SearchRadioClick('BPM')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="BPM">BPM</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="NewVibe"
              (change)="SearchRadioClick('NewVibe')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="NewVibe">New Vibe</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="ReleaseMonth"
              (change)="SearchRadioClick('ReleaseDate')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="ReleaseMonth">Release Date</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="EngeryLevel"
              (change)="SearchRadioClick('EngeryLevel')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="EngeryLevel">Energy Level</label>
          </div>
          <div *ngIf="((chkMediaRadio !='Image')  && ((auth.ContentType$ == 'MusicMedia') || (auth.ContentType$ == 'Both')))" class="custom-control custom-radio custom-control-inline  mb-2 mr-1">
            <input type="radio" class="custom-control-input cursor-pointer" id="Year"
              (change)="SearchRadioClick('Year')" name="chkSearch">
            <label class="custom-control-label cursor-pointer" for="Year">Year</label>
          </div>
          <div *ngIf="((!IsRF) && (chkMediaRadio !='Image'))" class="d-none custom-control custom-checkbox  custom-control-inline  mb-2 mr-1">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="Explicit"
              [(ngModel)]="chkExplicit"  name="chkSearch" (change)="OnChangeExplicit($event)">
            <label class="custom-control-label cursor-pointer" for="Explicit">Explicit Files</label>
          </div>
<!-- *ngIf="IsCategoryShow" -->
          

        </div>
      </div>
      
     


    <div id="dis" class="table-responsive search-results"
        
    infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2"
     [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()" [scrollWindow]="false"

       >
      <table class="table table-sm table-bordered table-hover table-fixed tbody">
        <thead class="sticky-top thead-light">
          <tr class="">
            <!--<th class="sticky-top"></th>-->
            <th class="sticky-top WidthTitlePL">Title</th>
            <!-- <th class="sticky-top WidthLength">Length </th> -->
            <th class="sticky-top WidthArtistPL">Artist </th>
            <th class="sticky-top WidthCategoryPL">Genre </th>
            <th  class="sticky-top WidthCategoryPL">{{HeaderName}} </th>
            <th class="sticky-top WidthArtistPL">Energy Level</th>
            
          </tr>
        </thead>
        <tbody>
          <tr class="cursor-pointer" *ngFor="let songLst of SongsList; let i=index"
            [ngClass]="{'selected':isRowSelected(i)}" 
            (click)="setMultipleClickedRow($event,i,songLst,false)">
            <!-- <td class="cursor-pointer">
              style="
            white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
              <div class="custom-control custom-checkbox  mb-2 mr-sm-2">
                <input #checkboxes (change)="SelectSongList(songLst.id,$event)" type="checkbox"
                  class="custom-control-input cursor-pointer" id="{{songLst.id}} {{songLst.title}}" name="chkTitle">
                <label class="custom-control-label cursor-pointer" for="{{songLst.id}} {{songLst.title}}"></label>

              </div>
            </td>-->
            <td class="WidthTitlePL">

              <a href="{{songLst.TitleIdLink}}" target="_blank">
                {{songLst.title}}
              </a>
            </td>
            <!-- <td class="WidthLength">{{songLst.Length}}</td> -->
            <td class="WidthArtistPL">{{songLst.Artist}}</td>
            <td class="WidthCategoryPL">{{songLst.genreName}}</td>
            <td *ngIf="((chkMediaRadio=='Audio') && (IsRF==true)) ||
            ((chkMediaRadio=='Video')) " class="WidthCategoryPL">{{songLst.Label}}</td>
            <td *ngIf="((chkMediaRadio=='Audio') && (IsCL==true))" class="WidthCategoryPL">{{songLst.Album}}</td>
            <td *ngIf="((chkMediaRadio=='Image'))" class="WidthCategoryPL">{{songLst.FolderName}}</td>
            <td class="WidthArtistPL">
                <ngb-rating [(rate)]="songLst.EngeryLevel">
                    <ng-template let-fill="fill" let-index="index">
                      <span class="star" (click)="UpdateEnergyLevel(songLst.id, index)" [class.filled]="fill === 100"
                       [class.bad]="index < 0">&#9733;</span>
                    </ng-template>
                  </ngb-rating>
            </td>
            
          </tr>
        </tbody>
      </table>



    </div>
 

</div>



