<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
>
</ngx-loading>
<div class="row m-0 p-0">
  <div class="form-inline col-lg-12 p-0">
    <label for="SearchAdvtDate" class="mt-1 mb-2 mr-sm-2 pr-1">Date:</label>
    <input
      id="SearchAdvtDate"
      class="mt-2 form-control mb-2 mr-sm-2 col-sm-1 col-12"
      [owlDateTimeTrigger]="dtDate"
      [(ngModel)]="SearchCDate"
      [owlDateTime]="dtDate"
      readonly
    />
    <owl-date-time
      [pickerType]="'calendar'"
      (afterPickerClosed)="FillTemplates()"
      #dtDate
    >
    </owl-date-time>

    <label for="cmbCustomer" class="mt-1 mb-2 mr-sm-2 pr-1"
      >Customer Name:</label
    >
    <select
      name="CustomerName"
      class="mt-2 custom-select mb-3 col-sm-2 col-12"
      [(ngModel)]="CustomerId"
      (change)="onChangeCustomer($event.target.value)"
      id="cmbCustomer"
    >
      <option selected value="0"></option>
      <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
        {{ cLst.DisplayName }}
      </option>
    </select>

    <label for="cmbGenre" class="mt-1 mb-2 mr-sm-2 pr-1">Orientation:</label>
    <select
      name="cmbGenre"
      class="mt-2 custom-select mb-3 col-sm-1 col-12"
      [(ngModel)]="cmbGenre"
      (change)="onChangeGenre($event.target.value)"
      id="cmbGenre"
    >
      <option selected value="0"></option>
      <option *ngFor="let gLst of GenreList" [value]="gLst.Id">
        {{ gLst.DisplayName }}
      </option>
    </select>

    <label for="cmbFolder" class="mt-1 mb-2 mr-sm-2 pr-1">Token:</label>
    <ng-multiselect-dropdown
                        id="Dispenser"
                        [placeholder]="' '"
                        [settings]="dropdownSettings"
                        [data]="SearchTokenList"
                        class="mt-2 mb-2 mr-sm-2 col-sm-4 col-12"
                        [(ngModel)]="cmbSearchToken"
                      >
                      </ng-multiselect-dropdown>

    <button
      class="btn btn-primary btn-sm mb-2 mr-1 mt-sm-0 ml-1"
      (click)="DownloadTemplate()"
    >
      Download
    </button>
  </div>
</div>

<div class="row m-0 p-0">
  <div class="col-lg-12 m-0 p-0">
    <div class="table-responsive">
      <table class="table data-table table-striped table-bordered mydatatable">
        <thead class="bg-primary">
          <tr>
            <th scope="col" style="width: 60px">
            </th>
            <th scope="col">Template Name</th>
            <th scope="col">Orientation</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tLst of TemplateList; let i = index">
            <td data-label="" class="">
              <div class="custom-control custom-radio">
                <input
                  (change)="
                    SelectTemplates(tLst.videoUrl, tLst.name, tLst.id, $event)
                  "
                  type="radio"
                  class="custom-control-input"
                  id="{{ tLst.id }}{{ i }}"
                  [checked]="tLst.check"
                  name="chkTokenList"
                />
                <label
                  class="custom-control-label cursor-pointer"
                  for="{{ tLst.id }}{{ i }}"
                ></label>
              </div>
            </td>
            <td data-label="Template Name">
              <a href="{{ tLst.videoUrl }}" target="_blank">
                {{ tLst.name }}
              </a>
            </td>
            <td data-label="Orientation">{{ tLst.orientation }}</td>
            <td data-label="Created at">
              {{ tLst.duration }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
 