/* table.dataTable tbody th, table.dataTable tbody td {
  padding: 4px 0px !important;
} */
.table-bordered,
.table-bordered td,
.table-bordered th {
}
/* .form-control::placeholder {
  font-family: FontAwesome;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    height: 50px;
  }
  .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    margin-left: 10px;
  }
  table tr:hover {
    background-color: #f8f8f8 !important;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.file-upload {
  cursor: pointer;
  display: block;
  text-align: center;
}

.file-upload .file-select {
  cursor: pointer;
  display: block;
  color: #34495e;
  cursor: pointer;

  text-align: left;
  overflow: hidden;
  position: relative;
  top: 35px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.file-upload .file-select .file-select-button {
  cursor: pointer;
  color: #ffffff;

  text-align: center;
}

.file-upload .file-select .file-select-name {
  cursor: pointer;

  display: inline-block;
}

.file-upload.active .file-select {
  cursor: pointer;
  border-color: #3fa46a;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  cursor: pointer;
  background: #3fa46a;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}
.Link-Center_Width {
  width: 3% !important;
}

.modal-lg,
.modal-xl {
  height: 100%;
}
.modal-content {
  height: 100%;
}

.desc:before {
  content: "\f0dd";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fff;
  font-size: 18px;
  padding-right: 0.5em;
  width: 22px;
  height: 22px;
  float: left;
}
.asc:before {
  content: "\f0de";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fff;
  font-size: 18px;
  padding-right: 0.5em;
  width: 22px;
  height: 22px;
  float: left;
}
.form-control-Tab {
  display: block;
  width: 100%;
  height: calc(1.9em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 0px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a#tab-Search,
a#tab-All,
a#tab-Regsiter,
a#tab-Audio,
a#tab-Video,
a#tab-Signage,
a#tab-UnRegsiter {
  padding: 0.1rem 0.2rem !important;
} */

/* main start */
table {
  table-layout: fixed;
}
.mydatatable tr th {
  color: white !important;
}
.bg-primary,
thead {
  color: #fff !important;
  background-color: #4788ff !important;
}
.card1 {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  -ms-box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.0392157);
  -o-box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.0392157);
  box-shadow: 0 16px 40px 0 rgb(0 0 0 / 4%);
}
/* .card1 {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
} */
.form-control-Tab {
  height: auto;
  font-size: 0.95em;
}
