<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>

<div class="container-fluid m-0 p-0">
  <div class="col-sm-12 p-0">
    <div class="form-inline">
      <label for="cmbCustomer" class="mb-2 mr-sm-2">Customer Name:</label>
      <select
        name="CustomerName"
        class="custom-select col-lg-4"
        (change)="onChangeCustomer($event.target.value)"
        id="cmbCustomer"
      >
        <option selected value="0"></option>
        <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">
          {{ cLst.DisplayName }}
        </option>
      </select>
    </div>
  </div>
  <div class="table-responsive">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="table data-table table-striped table-bordered mydatatable"
    >
      <thead class="bg-primary">
        <tr>
          <th class="text-white" scope="col" style="width: 130px">Token Id</th>
          <th class="text-white" scope="col">Name</th>
          <th class="text-white" scope="col">Location</th>
          <th class="text-white" scope="col" style="width: 130px">City</th>
          <th class="text-white" scope="col" style="width: 100px">Country</th>
          <th class="text-white" scope="col" style="width: 120px">
            Player Type
          </th>
          <th class="text-white" scope="col" style="width: 120px">
            Licence Type
          </th>
          <th class="text-white" scope="col" style="width: 130px">Activation Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cLst of TokenList">
          <td data-label="Token Code">
            {{ cLst.tokenCode }}
          </td>
          <td data-label="Name">
            {{ cLst.Name }}
          </td>
          <td data-label="Location">
            {{ cLst.location }}
          </td>
          <td data-label="City">
            {{ cLst.city }}
          </td>
          <td data-label="Country ">
            {{ cLst.countryName }}
          </td>
          <td data-label="Player Type ">
            {{ cLst.playerType }}
          </td>

          <td data-label="Licence Type">
            {{ cLst.LicenceType }}
          </td>
          <td data-label="">
            {{ cLst.datetokenused }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
