<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }">
</ngx-loading>
 
    <div class="row m-0 p-0">
      <div class="col-12 ml-sm-n4">
        <label for="cmbPlayer" class="mb-2 mr-sm-2">Player:</label>
        <select
          name="PlayerName"
          class="custom-select mb-2 mr-sm-3 mr-1 col-sm-6"
          (change)="onChangePlayer($event.target.value)"
          id="cmbPlayer"
        >
          <option selected value="0"></option>
          <option *ngFor="let tLst of TokenList" [value]="tLst.tokenid">
            {{ tLst.tokenid }}-{{ tLst.location }}-{{ tLst.city }} [{{tLst.MediaType}}]
          </option>
        </select>
      </div>
         
    </div>
 
      
          <div class="row m-0 p-0" style="margin-top: 2.7rem!important;">
            <div class="border col-sm-12 p-0">
              <div class="table-responsive">
                <table datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                  class="table data-table table-striped table-bordered mydatatable"
                >
                  <thead class="bg-primary">
                    <tr>
                      <th class="text-white" scope="col">Country</th>
                      <th class="text-white" scope="col">City</th>
                      <th class="text-white" scope="col">Location</th>
                      <th class="text-white" scope="col">Token Code</th>
                      <th class="text-white" scope="col">IP Address</th>
                      <th class="text-white" scope="col">DateTime</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let cLst of LogList"
                          
                    >
                      <td data-label="Country">
                        {{ cLst.countryName }}
                      </td>
                      <td data-label="City">
                        {{ cLst.city }}
                      </td>
                      <td data-label="Location">
                        {{ cLst.location }}
                      </td>
                      <td data-label="Token Code">
                        {{ cLst.tokenid }}
                      </td>
                      <td data-label="Ip Address"  (click)="OpenGoogleMap(cLst.IpAddress,Mapcontent)" > <!-- -->
                        {{ cLst.IpAddress }} <i class="fa fa-map-marker" aria-hidden="true"></i>
                      </td>
                      <td data-label="DateTime">
                        {{ cLst.cDateT }}
                      </td>
                    </tr>
                  </tbody>
                </table>
               
              </div>
            </div>
          </div>
          <div class="col-lg-12" >
            <div id="map" #map></div>
          </div>

          <ng-template   #Mapcontent let-c="close" let-d="dismiss">
            <div class="modal-header bg-primary">
              <div class="col-lg-6 m-0 p-0" style="float: left">
                <h5 class="text-white">Map</h5>
              </div>
              
          
              <button
                type="button"
                class="close text-white"
                aria-label="Close"
                (click)="d('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-1">
             <div class="col-lg-12" >
              <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
             </div>
            </div>
          </ng-template>