<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
>
</ngx-loading>
<div class="container-fluid">
  <div class="row mt-0">
    <div class="col-12">
      <div class="form-row">
        <div class="col-lg-6">
          <div class="form-row mt-0">
            <div class="col-lg-6 pb-3">
              <label for="txtPlaylistName"
                ><strong>Playlist Name</strong>
              </label>
              <input
                type="text"
                id="txtPlaylistName"
                class="form-control"
                autocomplete="off"
                placeholder=""
                value=""
              />
            </div>
            <div class="col-lg-6 pb-3">
              <label for="txtPlaylistName"
                ><strong>Number of Songs</strong>
              </label>
              <input
                type="text"
                id="txtSongs"
                class="form-control"
                autocomplete="off"
                placeholder=""
                value=""
              />
            </div>
            <div
              class="col-lg-6 pb-3 pt-2"
              style="border-top: 1px dashed; border-bottom: 1px dashed"
            >
              <label for="rdo"><strong>Select your media type </strong> </label>
              <div id="rdo">
                <div
                  *ngIf="
                    CustomerMediaType == 'Audio DirectLicence' ||
                    CustomerMediaType == 'Audio Copyright'
                  "
                  class="custom-control custom-radio custom-control-inline"
                >
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="rdoAudio"
                    (change)="MediaType('Audio')"
                    name="example"
                    value="Audio"
                    [checked]="rdoAudio"
                  />
                  <label class="custom-control-label mr-2" for="rdoAudio"
                    >Audio</label
                  >
                </div>
                <div
                  *ngIf="
                    CustomerMediaType == 'Video' ||
                    CustomerMediaType == 'Signage'
                  "
                  class="custom-control custom-radio custom-control-inline"
                >
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="rdoVideo"
                    (change)="MediaType('Video')"
                    name="example"
                    value="Video"
                    [checked]="rdoVideo"
                  />
                  <label class="custom-control-label mr-2" for="rdoVideo"
                    >Video</label
                  >
                </div>
                <div
                  *ngIf="CustomerMediaType == 'Signage'"
                  class="custom-control custom-radio custom-control-inline"
                >
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="rdoImage"
                    (change)="MediaType('Image')"
                    name="example"
                    value="Image"
                  />
                  <label class="custom-control-label" for="rdoImage"
                    >Image</label
                  >
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 pb-3 pt-2"
              style="border-top: 1px dashed; border-bottom: 1px dashed"
            >
              <label
                for="rdo1"
                *ngIf="
                  CustomerMediaType == 'Video' ||
                  CustomerMediaType == 'Audio Copyright' ||
                  CustomerMediaType == 'Audio DirectLicence'
                "
                ><strong>Select your media style</strong></label
              >
              <div id="rdo1">
                <div
                  *ngIf="
                    CustomerMediaType == 'Video' ||
                    CustomerMediaType == 'Audio Copyright'
                  "
                  class="custom-control custom-radio custom-control-inline"
                >
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="rdoCopyright"
                    name="media"
                    (change)="MediaStyle('Copyright')"
                    value="Copyright"
                    [checked]="NewIsCL"
                  />
                  <label class="custom-control-label mr-2" for="rdoCopyright"
                    >Copyright</label
                  >
                </div>
                <div
                  *ngIf="CustomerMediaType == 'Audio DirectLicence'"
                  class="custom-control custom-radio custom-control-inline"
                >
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="rdoDirect"
                    name="media"
                    (change)="MediaStyle('DL')"
                    value="DL"
                    [checked]="NewIsDL"
                  />
                  <label class="custom-control-label" for="rdoDirect"
                    >Direct Licence</label
                  >
                </div>
              </div>
            </div>
            <div
              *ngIf="mediatype != 'Image' && CustomerMediaType !== 'Signage'"
              class="col-lg-6 mt-2 d-none"
            >
              <label for="rdo7" class="w-100"
                ><strong>Content Filter</strong>
                <span class="btn btn-sm btn-danger" (click)="reset()">
                  Reset Filter</span
                ></label
              >
              <div id="rdo7">
                <div
                  class="col-lg-12 p-0 m-0 mb-1"
                  *ngIf="
                    AutoSearchRadio == 'EngeryLevel' ||
                    AutoSearchRadio == 'BPM' ||
                    AutoSearchRadio == 'ReleaseDate' ||
                    AutoSearchRadio == 'Language' ||
                    AutoSearchRadio == 'Year'
                  "
                >
                  <select
                    name="cmbFilter"
                    class="custom-select"
                    id="cmbFilter"
                    (change)="onChangeFilter($event.target.value)"
                  >
                    <option selected value="0"></option>
                    <option *ngFor="let aLst of AlbumList" [value]="aLst.Id">
                      {{ aLst.DisplayName }}
                    </option>
                  </select>
                </div>
                <div
                  class="custom-control custom-radio custom-control-inline mb-2 mr-1"
                >
                  <input
                    type="radio"
                    class="custom-control-input cursor-pointer"
                    id="AutoNewVibe"
                    (change)="AutoSearchRadioClick('NewVibe')"
                    name="chkAutoSearch"
                    [checked]="NewMusic"
                  />
                  <label
                    class="custom-control-label cursor-pointer"
                    for="AutoNewVibe"
                    >New Vibe</label
                  >
                </div>
                <div
                  class="custom-control custom-radio custom-control-inline mb-2 mr-1"
                >
                  <input
                    type="radio"
                    class="custom-control-input cursor-pointer"
                    id="AutoBPM"
                    (change)="AutoSearchRadioClick('BPM')"
                    name="chkAutoSearch"
                    [checked]="AutoBPM"
                  />
                  <label
                    class="custom-control-label cursor-pointer"
                    for="AutoBPM"
                    >BPM</label
                  >
                </div>

                <div
                  class="custom-control custom-radio custom-control-inline mb-2 mr-1"
                >
                  <input
                    type="radio"
                    class="custom-control-input cursor-pointer"
                    id="AutoReleaseMonth"
                    (change)="AutoSearchRadioClick('ReleaseDate')"
                    name="chkAutoSearch"
                    [checked]="rDate"
                  />
                  <label
                    class="custom-control-label cursor-pointer"
                    for="AutoReleaseMonth"
                    >Release Date</label
                  >
                </div>
                <div
                  class="custom-control custom-radio custom-control-inline mb-2 mr-1"
                >
                  <input
                    type="radio"
                    class="custom-control-input cursor-pointer"
                    id="AutoEngeryLevel"
                    (change)="AutoSearchRadioClick('EngeryLevel')"
                    name="chkAutoSearch"
                    [checked]="eLevel"
                  />
                  <label
                    class="custom-control-label cursor-pointer"
                    for="AutoEngeryLevel"
                    >Energy Level</label
                  >
                </div>
                <div
                  class="custom-control custom-radio custom-control-inline mb-2 mr-1"
                >
                  <input
                    type="radio"
                    class="custom-control-input cursor-pointer"
                    id="AutoLanguage"
                    (change)="AutoSearchRadioClick('Language')"
                    name="chkAutoSearch"
                    [checked]="eLanguage"
                  />
                  <label
                    class="custom-control-label cursor-pointer"
                    for="AutoLanguage"
                    >Language</label
                  >
                </div>
                <div
                  class="custom-control custom-radio custom-control-inline mb-2 mr-1"
                >
                  <input
                    type="radio"
                    class="custom-control-input cursor-pointer"
                    id="AutoYear"
                    (change)="AutoSearchRadioClick('Year')"
                    name="chkAutoSearch"
                    [checked]="eYear"
                  />
                  <label
                    class="custom-control-label cursor-pointer"
                    for="AutoYear"
                    >Year</label
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-5">
              <label
                *ngIf="
                  AutoSearchRadio == 'EngeryLevel' ||
                  AutoSearchRadio == 'BPM' ||
                  AutoSearchRadio == 'ReleaseDate' ||
                  AutoSearchRadio == 'Language' ||
                  AutoSearchRadio == 'Year'
                "
                class="col-lg-12 mt-5"
              ></label>
              <button
                type="button"
                id="btnClear"
                (click)="ClearList()"
                class="btn btn-primary mt-0 float-right"
              >
                Clear
              </button>
              <button
                type="button"
                id="btnSave"
                (click)="SavePlaylist()"
                class="btn btn-primary mt-0 mr-2 float-right"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div id="chartContainer" style="height: 260px; width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="hr mt-2 mb-2"></div> -->
  <div class="row">
    <div class="col-12">
      <div class="form-row">
        <div class="col-lg-6"></div>
      </div>
      <div class="tableGenre">
        <div class="table-responsive">
          <table
            id="GenreList"
            class="table data-table table-striped table-bordered mydatatable"
          >
            <thead>
              <tr class="bg-primary">
                <th style="width: 1px"></th>
                <th>Select genre</th>
                <th style="width: 20%">Set your preferences</th>
              </tr>
              <tr
                *ngFor="
                  let group of data
                    | slice
                      : (page - 1) * pageSize
                      : (page - 1) * pageSize + pageSize
                "
              >
                <td>
                  <input
                    type="checkbox"
                    [checked]="group.iChecked"
                    class="ChkCustom"
                    id="chkGenre{{ group.genreid }}"
                    (change)="
                      onChangeCheckBox($event, group.genreid, group.genre)
                    "
                    name="chkGenre"
                    value="{{ group.genreid }}"
                    style="
                      width: 1.5rem !important;
                      height: 1.5rem !important;
                      cursor: pointer;
                    "
                  />
                </td>
                <td>{{ group.genre }}</td>
                <td>
                  <input
                    type="range"
                    class="custom-range"
                    id="{{ group.genreid }}"
                    name="rangeGenre"
                    (change)="
                      onChangeRange(
                        $event.target.value,
                        group.genreid,
                        group.genre
                      )
                    "
                    value="{{ group.GenrePercentage }}"
                  />
                </td>
              </tr>
            </thead>
          </table>
          <ngb-pagination
            [collectionSize]="data.length"
            [(page)]="page"
            [pageSize]="pageSize"
            aria-label="Default pagination"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
