.form-group {
  margin-bottom: 1rem !important;
}
.custom-label {
  margin-left: -32px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  label.mb-2.mr-sm-2 {
    height: 40px;
  }
  .custom-label {
    margin-left: -20px;
    height: 40px;
  }
}
@media (max-width: 360px) {
  .custom-label {
    margin-left: -47px;
  }
}
@media (min-width: 320px) and (max-width: 340px) {
  .custom-label {
    margin-left: -44px;
  }
}
@media (min-width: 361px) and (max-width: 414px) {
  .custom-label {
    margin-left: -54px;
  }
}

/* css */

.content-table {
  table-layout: fixed;
  width: 100% !important;
}
/* css end */
.bg-primary tr th {
  color: #fff !important;
}
table {
  table-layout: fixed;
}

/* ipad customer input */
@media (min-width: 766px) and (max-width: 768px) {
  .ipad-class {
    margin-top: -1.3em;
  }
}
