<!-- loader -->
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
>
</ngx-loading>
<!-- loader -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <!-- card-header start -->
      <div class="card-header d-flex justify-content-between mb-2 pb-2">
        <div class="col-12 p-0">
          <form
            [formGroup]="Regform"
            (ngSubmit)="onSubmitReg(CustomerTokenDeleteModal, 'First')"
          >
            <!-- for-row start -->
            <div class="row">
              <div class="col-sm-3 col-lg-2 m-0">
                <div class="col-2 pull-left" style="padding: 0 0 0 0px">
                  <label for="customerNameCode" class="mr-sm-2">&nbsp;</label>
                  <input
                    type="text"
                    id="customerNameCode"
                    autocomplete="off"
                    readonly
                    class="form-control p-0"
                    [(ngModel)]="cNameCode"
                    [ngModelOptions]="{ standalone: true }"
                    style="
                      border-top-right-radius: 0rem !important;
                      border-bottom-right-radius: 0rem !important;
                      border-right: 0px !important;
                      text-align: center;
                    "
                  />
                </div>
                <div class="col-10 pull-left" style="padding: 0 0 0 0px">
                  <label for="customerName" class="custom-label"
                    >Customer Name:</label
                  >
                  <input
                    type="text"
                    formControlName="customerName"
                    id="customerName"
                    [ngClass]="{
                      'is-invalid': submitted && f.customerName.errors
                    }"
                    autocomplete="off"
                    class="form-control mr-sm-2 p-0 ipad-class"
                    [(ngModel)]="cName"
                    style="
                      border-top-left-radius: 0rem !important;
                      border-bottom-left-radius: 0rem !important;
                      border-left: 0px !important;
                    "
                  />
                  <div
                    *ngIf="submitted && f.customerName.errors"
                    class="invalid-feedback"
                  ></div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Country Name:</label>
                <select
                  class="custom-select"
                  name="countryName"
                  formControlName="countryName"
                  [ngClass]="{
                    'is-invalid': submitted && f.countryName.errors
                  }"
                  (change)="onChangeCountry($event.target.value)"
                  id="countryName"
                >
                  <option selected value="0"></option>
                  <option *ngFor="let cLst of CountryList" [value]="cLst.Id">
                    {{ cLst.DisplayName }}
                  </option>
                </select>
                <div
                  *ngIf="submitted && f.countryName.errors"
                  class="invalid-feedback"
                ></div>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="stateName1" class="mr-sm-2">State Name:</label>
                <div class="col-12">
                  <div class="row">
                    <div class="col-11 col-md-9 p-0">
                      <select
                        name="stateName1"
                        formControlName="stateName"
                        [ngClass]="{
                          'is-invalid': submitted && f.stateName.errors
                        }"
                        class="custom-select"
                        (change)="onChangeState($event.target.value)"
                        id="stateName1"
                      >
                        <option selected value="0"></option>
                        <option
                          *ngFor="let stateLst of StateList"
                          [value]="stateLst.Id"
                        >
                          {{ stateLst.DisplayName }}
                        </option>
                      </select>
                      <div
                        *ngIf="submitted && f.stateName.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="col-1 col-md-3 p-0">
                      <button
                        id="btnstateName"
                        class="btn btn-primary btn-sm ml-1 mt-1"
                        (click)="openCommonModal(modalCommon, 'State')"
                      >
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">City Name:</label>
                <div class="col-12">
                  <div class="row">
                    <div class="col-11 col-md-9 p-0">
                      <select
                        name="cityName"
                        formControlName="cityName"
                        [ngClass]="{
                          'is-invalid': submitted && f.cityName.errors
                        }"
                        class="custom-select"
                        (change)="onChangeCity($event)"
                        id="cityName"
                      >
                        <option selected value="0"></option>
                        <option
                          *ngFor="let cityLst of CityList"
                          [value]="cityLst.Id"
                        >
                          {{ cityLst.DisplayName }}
                        </option>
                      </select>
                      <div
                        *ngIf="submitted && f.cityName.errors"
                        class="invalid-feedback"
                      ></div>
                    </div>
                    <div class="col-1 col-md-3 p-0">
                      <button
                        id="btnstateName"
                        class="btn btn-primary btn-sm ml-1 mt-1"
                        (click)="openCommonModal(modalCommon, 'City')"
                      >
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Customer Code:</label>
                <input
                  type="text"
                  id="cCode"
                  style="text-transform: uppercase"
                  formControlName="cCode"
                  autocomplete="false"
                  [(ngModel)]="Code"
                  class="form-control mr-sm-2"
                  readonly
                />
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Customer Email:</label>
                <input
                  type="text"
                  formControlName="customerEmail"
                  id="customerEmail"
                  [ngClass]="{
                    'is-invalid': submitted && f.customerEmail.errors
                  }"
                  autocomplete="false"
                  class="form-control mr-sm-2"
                />
                <div
                  *ngIf="submitted && f.customerEmail.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.customerEmail.errors.required"></div>
                  <div *ngIf="f.customerEmail.errors.email"></div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Total Token's:</label>
                <input
                  type="number"
                  formControlName="totalToken"
                  id="totalToken"
                  min="0"
                  max="1000"
                  value="0"
                  [ngClass]="{ 'is-invalid': submitted && f.totalToken.errors }"
                  autocomplete="false"
                  (change)="onChangeToken()"
                  class="form-control mr-sm-2"
                />
                <div
                  *ngIf="submitted && f.totalToken.errors"
                  class="invalid-feedback"
                ></div>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Expiry Date:</label>
                <input
                  id="dt1"
                  formControlName="expiryDate"
                  [ngClass]="{ 'is-invalid': submitted && f.expiryDate.errors }"
                  class="form-control mr-sm-2"
                  [owlDateTimeTrigger]="dt1"
                  [owlDateTime]="dt1"
                  readonly
                />
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                <div
                  *ngIf="submitted && f.expiryDate.errors"
                  class="invalid-feedback"
                ></div>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Support Email:</label>
                <input
                  type="text"
                  id="supportEmail"
                  formControlName="supportEmail"
                  autocomplete="false"
                  class="form-control mr-sm-2"
                />
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Support Ph. No:</label>
                <input
                  type="text"
                  id="supportPhNo"
                  formControlName="supportPhNo"
                  autocomplete="false"
                  class="form-control mr-sm-2"
                />
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Street:</label>
                <input
                  type="text"
                  id="Street"
                  formControlName="Street"
                  autocomplete="false"
                  class="form-control mr-sm-2"
                />
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Person Name:</label>
                <input
                  type="text"
                  id="pName"
                  formControlName="personName"
                  autocomplete="false"
                  class="form-control mr-sm-2"
                />
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Api Key:</label>
                <input
                  type="text"
                  id="aKey"
                  formControlName="ApiKey"
                  autocomplete="false"
                  class="form-control mr-sm-2"
                />
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Content Type:</label>
                <select
                  name="ContentType"
                  formControlName="ContentType"
                  class="custom-select"
                  id="rdo2"
                >
                  <option selected value="MusicMedia">Music</option>
                  <option value="Signage">Signage</option>
                  <option value="Both">Both</option>
                </select>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Customer Type:</label>
                <select
                  name="MainCustomer"
                  class="custom-select"
                  (change)="SetCustomerType($event.target.value)"
                  id="rdo"
                >
                  <option selected value="MainCustomer">Main Customer</option>
                  <option value="SubCustomer">Sub Customer</option>
                </select>
              </div>
              <div class="col-sm-3 col-lg-2 m-0">
                <label for="cmbCustomer" class="mr-sm-2">Main Customer:</label>
                <select
                  name="MainCustomer"
                  formControlName="MainCustomer"
                  class="custom-select"
                  id="MainCustomer"
                >
                  <option selected value="0"></option>
                  <option
                    *ngFor="let mcLst of MainCustomerList"
                    [value]="mcLst.id"
                  >
                    {{ mcLst.customerName }}
                  </option>
                </select>
              </div>
              <div class="col pull-right mt-4 text-right">
                <button type="submit" class="btn btn-primary mr-3">
                  Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="Refresh()"
                >
                  Refresh <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- for-row end -->
          </form>
        </div>
      </div>
      <!-- card-header end -->
      <!-- card-body start -->
      <div class="card-body mt-0 pt-0">
        <div class="table-responsive">
          <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
            <div id="datatable_filter" class="dataTables_filter">
              <label
                >Search:

                <input
                  type="search"
                  class=""
                  placeholder=""
                  id="cName"
                  [(ngModel)]="searchText"
                  [ngModelOptions]="{ standalone: true }"
                  autocomplete="off"
              /></label>
            </div>
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="table data-table table-striped table-bordered mydatatable"
            >
              <thead class="bg-primary text-white">
                <tr>
                   
                  <th scope="col" style="width: 150px !important">Country</th>
                  <!--<th scope="col" style="width: 150px !important">
                    Customer Code
                  </th> -->
                  <th scope="col" style="width: 120px !important">
                    Customer Name
                  </th>
                  <th scope="col" style="width: 120px !important">E-mail</th>
                  <th scope="col" style="width: 120px !important">
                    Total Token
                  </th>
                  <th scope="col" style="width: 120px !important">
                    Expiry Date
                  </th>
                  <th scope="col" class="Link-Center_Width"></th>
                  <th scope="col" class="Link-Center_Width"></th>
                  <th scope="col" style="width: 100px !important"></th>
                  <th scope="col" style="width: 130px !important"></th>
                  <th scope="col" style="width: 130px !important">License</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cLst of CustomerList | filter: searchText">
                  
                  <td data-label="Country">
                    {{ cLst.countryName }}
                  </td>
                  <!--<td data-label="Customer Code">
                    {{ cLst.customerCode }}
                  </td>-->
                  <td data-label="Name">
                    {{ cLst.customerName }}
                  </td>
                  <td data-label="Email">
                    {{ cLst.customerEmail }}
                  </td>
                  <td data-label="Total Token">
                    {{ cLst.totalToken }}
                  </td>
                  <td data-label="Expiry Date">
                    {{ cLst.expiryDate }}
                  </td>
                  <td
                    data-label=""
                    class="cursor-pointer"
                    (click)="EditCustomer(cLst.id)"
                  >
                    <i
                      class="fa fa-pencil-square-o text-primary"
                      aria-hidden="true"
                    ></i>
                  </td>
                  <td
                    data-label=""
                    class="cursor-pointer"
                    (click)="
                      openCustomerDeleteModal(CustomerDeleteModal, cLst.id)
                    "
                  >
                    <i
                      class="fa fa-trash"
                      style="color: red"
                      aria-hidden="true"
                    ></i>
                  </td>
                  <td
                    data-label=""
                    class="cursor-pointer text-primary"
                    (click)="SendMail(cLst.id)"
                  >
                    Send email
                  </td>
                  <td data-label="">
                    <span
                      *ngIf="cLst.Key === ''"
                      class="cursor-pointer text-primary"
                      (click)="TemplateAccess(cLst.id)"
                      >Template access</span
                    >
                    <span *ngIf="cLst.Key != ''">Activated</span>
                  </td>
                  <td>
                    <span
                      *ngIf="cLst.IsTemplateActive === '0'"
                      class="cursor-pointer text-primary"
                      (click)="
                        UpdateExpiryDate_Template_Creator(
                          cLst.id,
                          'Active',
                          cLst.expiryDate,
                          cLst.Key
                        )
                      "
                      >Active</span
                    >
                    <span
                      *ngIf="cLst.IsTemplateActive === '1'"
                      class="cursor-pointer text-danger"
                      (click)="
                        UpdateExpiryDate_Template_Creator(
                          cLst.id,
                          'Disable',
                          cLst.expiryDate,
                          cLst.Key
                        )
                      "
                      >Disable</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- card-body end -->
    </div>
  </div>
</div>

<!-- modal start -->
<ng-template #CustomerDeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Delete Customer</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>Are you sure to delete?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-primary col-2 pull-right"
            (click)="d('Cross click')"
          >
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-danger col-2 pull-right mr-2"
            (click)="DeleteCustomer()"
            (click)="d('Cross click')"
          >
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalCommon let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">{{ HeaderText }}</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <label for="State" class="mr-sm-2">Name:</label>
          <input
            type="text"
            [(ngModel)]="NewName"
            class="form-control mr-sm-2"
            id="fName"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-12">
        <button
          class="btn btn-primary pull-right"
          type="button"
          (click)="onSubmitModal()"
          (click)="d('Cross click')"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #CustomerTokenDeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Reduce Customer Tokens</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>
            The quantity of tokens of the customer will be reduced and it will
            only have effect on un-active tokens which will be delete
            automatically.
          </p>
          <p>Do you want to continue?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-primary col-2 pull-right"
            (click)="d('Cross click')"
          >
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-danger col-2 pull-right mr-2"
            (click)="onSubmitReg(CustomerDeleteModal, 'Second')"
            (click)="d('Cross click')"
          >
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
