<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' , fullScreenBackdrop: true }">
</ngx-loading>
<div class="row">
    <div class="col-12">
        <div class="card card-navy">
            
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-12">
                  <div class="form-row">
                    <div class="form-group col-sm-2 m-0">
                      <label for="SearchcName" class="mb-2 mr-sm-2"
                        >Customer Name:</label
                      >
                      <select
                        name="SearchcName"
                        class="custom-select mb-0"
                        [(ngModel)]="cmbCustomer"
                        (change)="onChangeCustomer($event.target.value)"
                        id="SearchcName"
                      >
                        <option selected value="0"></option>
                        <option
                          *ngFor="let cLst of CustomerList"
                          [value]="cLst.Id"
                        >
                          {{ cLst.DisplayName }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
                <kendo-expansionpanel title="Audio" (action)="onAction(0,'Audio')">
                    <div class="row align-items-center" style="margin-bottom:10px;">
                        <div class="col-md-3" *ngIf="!ShowContent">
                            <kendo-textbox  placeholder="Search"
                            kendoTextBox
                            (valueChange)="onFilter($event)"></kendo-textbox>
                        </div>
                        <div class="col-md-3 d-none">
                            <button kendoButton style="padding: 3px 7px;"><i class="fas fa-search"></i></button>
                            <kendo-label
                                class="k-radio-label me-2 ms-5"
                                [for]="searchCategory"
                                text="Genre"
                            ></kendo-label>
                        
                            <input type="radio" class="me-2" name="cat" #searchCategory kendoRadioButton checked/>
                            
                          
                            
                            <kendo-label
                                class="k-radio-label me-2"
                                [for]="searchCategory"
                                text="Album"
                            ></kendo-label>
                            <input type="radio" class="me-2"  name="cat" #searchCategory kendoRadioButton />
                            <kendo-label
                                class="k-radio-label me-2"
                                [for]="searchCategory"
                                text="Artist"
                            ></kendo-label>
                            <input type="radio" class="me-2"  name="cat" #searchCategory kendoRadioButton />
                            <kendo-label
                                class="k-radio-label me-2"
                                [for]="searchCategory"
                                text="Title"
                            ></kendo-label>
                            <input type="radio" name="cat" #searchCategory kendoRadioButton />
                        </div>
                        <div [ngClass]="ShowContent?'col-sm-12': 'col-sm-9'">
                            <kendo-breadcrumb
                                style="justify-content: end;"
                                [items]="breadCrumbItems" (itemClick)="onbreadCrumbItemClick($event)"
                            ></kendo-breadcrumb>
                        </div>
                    </div>
                    <kendo-scrollview *ngIf="LibraryGenreScrollViewData.length>0 && !ShowContent"
                    [data]="LibraryGenreScrollViewData"
                    [width]="width"
                    [height]="height"
                    [arrows]="true"
                    [endless]="true"

                    >
                    <ng-template let-itemPage="item">    
                        <kendo-gridlayout
                            [align]="{ horizontal: hAlign, vertical: vAlign }"
                            [rows]="[100, 100, 100, 100, 100]"
                            [cols]="['12.25%'  ,'12.25%', '12.25%', '12.25%', '12.25%', '12.25%','12.25%','12.25%']"
                            [gap]="5"
                        >
                        <kendo-gridlayout-item
                            *ngFor="let item of LibraryGenreItems[itemPage.page]; let i = index"
                            class="box box-{{ i }} "
                            [ngStyle]="{backgroundColor: LibraryGenreItems[0][i].color }"
                            style="cursor: pointer; display:flex; justify-content: center; align-items: center; border-radius: 5px"
                            (click)="GetLibrarySubGenre(item.id,item.title)"
                            >
                                <h3 style="vertical-align:middle;color: white; font-size: 17px;">{{item.title}}</h3>
                            </kendo-gridlayout-item>
                        </kendo-gridlayout>

                    </ng-template>
                    </kendo-scrollview>

                    <kendo-grid *ngIf="ShowContent"
                    [kendoGridBinding]="ContentList"
                    [pageSize]="50"
                    [pageable]="true"
                    [sortable]="true"
                    kendoGridSelectBy="id"
                    [(selectedKeys)]="SelectionTitle">
                    <ng-template kendoGridToolbarTemplate>
                      <kendo-textbox
                    placeholder="Search"
                    kendoTextBox
                    (valueChange)="onContentFilter($event)"
                >
                </kendo-textbox>
                <kendo-grid-spacer></kendo-grid-spacer>
                <kendo-button  #targetPlaylistContextMenu>
                  <span class="k-icon k-i-align-justify"></span>
              </kendo-button>
              <kendo-contextmenu [target]="targetPlaylistContextMenu" [items]="PlaylistContextMenu" showOn="click" (select)="onSelect($event,modalNewPlaylist,'0')">
                <ng-template kendoMenuItemTemplate let-item="item">
                  {{ item.text }}
                </ng-template>
              </kendo-contextmenu>
                    </ng-template>
                    <kendo-grid-checkbox-column class="gridrowfont" [headerClass]="'bg-primary'" [width]="50"
        [showSelectAll]="true"
      ></kendo-grid-checkbox-column>
                    <kendo-grid-column field="title" title="Title"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="Artist"   title="Artist" class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="genreName"   title="Genre" class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="Length"   title="Length" class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="id"   title="" class="gridrowfont" [headerClass]="'bg-primary'" [width]="50">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span #target class="k-icon k-i-more-vertical"></span>
                              <kendo-contextmenu [target]="target" [items]="PlaylistContextMenu" showOn="click" (select)="onSelect($event,modalNewPlaylist,dataItem.id)">
                                <ng-template kendoMenuItemTemplate let-item="item">
                                  {{ item.text }}
                                </ng-template>
                              </kendo-contextmenu>
                            
                          </ng-template>

                    </kendo-grid-column>
                  </kendo-grid>
                            
                </kendo-expansionpanel>
                <kendo-expansionpanel title="Video" (action)="onAction(1,'Video')">
                    <div class="row align-items-center" style="margin-bottom:10px;">
                        <div class="col-md-3" *ngIf="!ShowContent">
                            <kendo-textbox  placeholder="Search"
                            kendoTextBox
                            (valueChange)="onFilter($event)"></kendo-textbox>
                        </div>
                        <div class="col-md-3 d-none">
                            <button kendoButton style="padding: 3px 7px;"><i class="fas fa-search"></i></button>
                            <kendo-label
                                class="k-radio-label me-2 ms-5"
                                [for]="searchCategory"
                                text="Genre"
                            ></kendo-label>
                        
                            <input type="radio" class="me-2" name="cat" #searchCategory kendoRadioButton checked/>
                            
                          
                            
                            <kendo-label
                                class="k-radio-label me-2"
                                [for]="searchCategory"
                                text="Album"
                            ></kendo-label>
                            <input type="radio" class="me-2"  name="cat" #searchCategory kendoRadioButton />
                            <kendo-label
                                class="k-radio-label me-2"
                                [for]="searchCategory"
                                text="Artist"
                            ></kendo-label>
                            <input type="radio" class="me-2"  name="cat" #searchCategory kendoRadioButton />
                            <kendo-label
                                class="k-radio-label me-2"
                                [for]="searchCategory"
                                text="Title"
                            ></kendo-label>
                            <input type="radio" name="cat" #searchCategory kendoRadioButton />
                        </div>
                        <div [ngClass]="ShowContent?'col-sm-12': 'col-sm-9'">
                            <kendo-breadcrumb
                                style="justify-content: end;"
                                [items]="breadCrumbItems" (itemClick)="onbreadCrumbItemClick($event)"
                            ></kendo-breadcrumb>
                        </div>
                    </div>
                    <kendo-scrollview *ngIf="LibraryGenreScrollViewData.length>0 && !ShowContent"
                    [data]="LibraryGenreScrollViewData"
                    [width]="width"
                    [height]="height"
                    [arrows]="true"
                    [endless]="true"

                    >
                    <ng-template let-itemPage="item">    
                        <kendo-gridlayout
                            [align]="{ horizontal: hAlign, vertical: vAlign }"
                            [rows]="[100, 100, 100, 100, 100]"
                            [cols]="['12.25%'  ,'12.25%', '12.25%', '12.25%', '12.25%', '12.25%','12.25%','12.25%']"
                            [gap]="5"
                        >
                        <kendo-gridlayout-item
                            *ngFor="let item of LibraryGenreItems[itemPage.page]; let i = index"
                            class="box box-{{ i }} "
                            [ngStyle]="{backgroundColor: LibraryGenreItems[0][i].color }"
                            style="cursor: pointer; display:flex; justify-content: center; align-items: center; border-radius: 5px"
                            (click)="GetLibrarySubGenre(item.id,item.title)"
                            >
                                <h3 style="vertical-align:middle;color: white; font-size: 17px;">{{item.title}}</h3>
                            </kendo-gridlayout-item>
                        </kendo-gridlayout>

                    </ng-template>
                    </kendo-scrollview>

                    <kendo-grid *ngIf="ShowContent"
                    [kendoGridBinding]="ContentList"
                    [pageSize]="50"
                    [pageable]="true"
                    [sortable]="true"
                    [selectable]="true"
                    kendoGridSelectBy="id"
                    [(selectedKeys)]="SelectionTitle">
                    <ng-template kendoGridToolbarTemplate>
                      <kendo-textbox
                    placeholder="Search"
                    kendoTextBox
                    (valueChange)="onContentFilter($event)"
                >
                </kendo-textbox>
                <kendo-grid-spacer></kendo-grid-spacer>
                <kendo-button  #targetPlaylistContextMenu>
                  <span class="k-icon k-i-align-justify"></span>
              </kendo-button>
              <kendo-contextmenu [target]="targetPlaylistContextMenu" [items]="PlaylistContextMenu" showOn="click" (select)="onSelect($event,modalNewPlaylist,'0')">
                <ng-template kendoMenuItemTemplate let-item="item">
                  {{ item.text }}
                </ng-template>
              </kendo-contextmenu>

                    </ng-template>
                    <kendo-grid-checkbox-column class="gridrowfont" [headerClass]="'bg-primary'" [width]="50"
        [showSelectAll]="true"
      ></kendo-grid-checkbox-column>
                    <kendo-grid-column field="title" title="Title"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="Artist"   title="Artist" class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="genreName"   title="Genre" class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="Length"   title="Length" class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="id"   title="" class="gridrowfont" [headerClass]="'bg-primary'" [width]="50">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span #target class="k-icon k-i-more-vertical"></span>
                              <kendo-contextmenu [target]="target" [items]="PlaylistContextMenu" showOn="click" (select)="onSelect($event,modalNewPlaylist,dataItem.id)">
                                <ng-template kendoMenuItemTemplate let-item="item">
                                  {{ item.text }}
                                </ng-template>
                              </kendo-contextmenu>
                            
                          </ng-template>

                    </kendo-grid-column>
                  </kendo-grid>
                            
                </kendo-expansionpanel>
                <kendo-expansionpanel title="Playlist – Regular" (action)="onAction(2,'Regular')">
                    <div class="row">
                        <div class="col-lg-3">
                            <kendo-grid 
                    [kendoGridBinding]="PlaylistLists"
                    [pageSize]="50"
                    [pageable]="false"
                    [sortable]="true">
                    <kendo-grid-column field="splPlaylistName" title="Name"   class="gridrowfont" [headerClass]="'bg-primary'">
                        <ng-template kendoGridCellTemplate let-dataItem>
                           <a herf="javascript:;" class="text-primary" (click)="FillPlaylistSongs(dataItem.splPlaylistId,dataItem.splPlaylistName)">{{dataItem.splPlaylistName}}</a> 
                          </ng-template>
                    </kendo-grid-column>
                  </kendo-grid>
                        </div>
                        <div class="col-lg-9">
                            <h5>{{SelectedPlaylistName}}</h5>
                            <kendo-grid class="mt-2"
                    [kendoGridBinding]="PlaylistContentLists"
                    [pageSize]="50"
                    [pageable]="true"
                    [sortable]="true">
                    <kendo-grid-column field="title" title="Title"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="Artist" title="Artist"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="GenreName" title="Genre"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="id"   title="" class="gridrowfont" [headerClass]="'bg-primary'" [width]="50">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span  class="k-icon k-i-trash text-danger" (click)="openTitleDeleteModal(TitleDeleteModal, dataItem.sId)"></span>
                          </ng-template>

                    </kendo-grid-column>
                  </kendo-grid>
                        </div>
                    </div>
                </kendo-expansionpanel>
                <kendo-expansionpanel title="Playlist – Advertisement" (action)="onAction(3,'Advertisement')">
                    <div class="row">
                        <div class="col-lg-3">
                            <kendo-grid 
                    [kendoGridBinding]="PlaylistLists"
                    [pageSize]="50"
                    [pageable]="false"
                    [sortable]="true">
                    <kendo-grid-column field="splPlaylistName" title="Name"   class="gridrowfont" [headerClass]="'bg-primary'">
                        <ng-template kendoGridCellTemplate let-dataItem>
                           <a herf="javascript:;" class="text-primary" (click)="FillPlaylistSongs(dataItem.splPlaylistId,dataItem.splPlaylistName)">{{dataItem.splPlaylistName}}</a> 
                          </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
                        </div>
                        <div class="col-lg-9">
                            <h5>{{SelectedPlaylistName}}</h5>
                            <kendo-grid class="mt-2"
                    [kendoGridBinding]="PlaylistContentLists"
                    [pageSize]="50"
                    [pageable]="true"
                    [sortable]="true">
                    <kendo-grid-column field="title" title="Title"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="Artist" title="Artist"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="GenreName" title="Genre"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="id"   title="" class="gridrowfont" [headerClass]="'bg-primary'" [width]="50">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span  class="k-icon k-i-trash text-danger" (click)="openTitleDeleteModal(TitleDeleteModal, dataItem.sId)"></span>
                          </ng-template>

                    </kendo-grid-column>
                  </kendo-grid>
                        </div>
                    </div>
                </kendo-expansionpanel>
                <kendo-expansionpanel title="Playlist – Special" (action)="onAction(4,'Special')">
                    <div class="row">
                        <div class="col-lg-3">
                            <kendo-grid 
                    [kendoGridBinding]="PlaylistLists"
                    [pageSize]="50"
                    [pageable]="false"
                    [sortable]="true">
                    <kendo-grid-column field="splPlaylistName" title="Name"   class="gridrowfont" [headerClass]="'bg-primary'">
                        <ng-template kendoGridCellTemplate let-dataItem>
                           <a herf="javascript:;" class="text-primary" (click)="FillPlaylistSongs(dataItem.splPlaylistId,dataItem.splPlaylistName)">{{dataItem.splPlaylistName}}</a> 
                          </ng-template>
                    </kendo-grid-column>
                  </kendo-grid>
                        </div>
                        <div class="col-lg-9">
                            <h5>{{SelectedPlaylistName}}</h5>
                            <kendo-grid class="mt-2"
                    [kendoGridBinding]="PlaylistContentLists"
                    [pageSize]="50"
                    [pageable]="true"
                    [sortable]="true">
                    <kendo-grid-column field="title" title="Title"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="Artist" title="Artist"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="GenreName" title="Genre"   class="gridrowfont" [headerClass]="'bg-primary'"></kendo-grid-column>
                    <kendo-grid-column field="id"   title="" class="gridrowfont" [headerClass]="'bg-primary'" [width]="50">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span  class="k-icon k-i-trash text-danger" (click)="openTitleDeleteModal(TitleDeleteModal, dataItem.sId)"></span>
                          </ng-template>

                    </kendo-grid-column>
                  </kendo-grid>
                        </div>
                    </div>
                </kendo-expansionpanel>

            </div>
        </div>
    </div>
</div>

<ng-template #modalNewPlaylist let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">New Playlist</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
         
                <div class="row">
                  <div class="col-lg-6">
                    <kendo-label text="Playlist Name">
                        <kendo-textbox [(ngModel)]="txtplaylistname"></kendo-textbox>
                    </kendo-label>
                  </div>
                  <div class="col-lg-6">
                    <kendo-label text="Type">
                        <br />
                        <kendo-dropdownlist [data]="PlaylistTypeListItems" [value]='FilterPlaylistTypeDropdownDefaultValue' textField="text"
                        valueField="value" [(ngModel)]="cmbPlaylistType">
                        </kendo-dropdownlist>
                      </kendo-label>
                  </div>
                  <div class="col-lg-12 text-right mt-3">
                        <kendo-button (click)="SaveNewPlaylist()">
                            <span class="k-icon k-i-save"></span>
                        </kendo-button>
                  
                  </div>
                  
                </div>
          
          
           
         
      
    </div>
  </ng-template>

  <ng-template #TitleDeleteModal let-c="close" let-d="dismiss">
    <div class="modal-header bg-primary">
      <h5 class="text-white">Delete Title</h5>
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <p>Are you sure to delete?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button
              class="btn btn-primary col-sm-2 pull-right"
              (click)="d('Cross click')"
            >
              <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </button>
            <button
              class="btn btn-danger col-sm-2 pull-right mr-2"
              (click)="DeleteTitle()"
              (click)="d('Cross click')"
            >
              <i class="fa fa-check fa-lg" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  