/* .col{
    padding: 0 0 0 5px !important;
}
.checkboxContainer{
    margin-left: 10px;
}
.custom-control{
    display: inline-block;
    cursor: pointer;
}
.custom-control-label{
    cursor: pointer;
}


 .file-upload{cursor: pointer;display:block;text-align:center;font-size: 15px;}
.file-upload .file-select{cursor: pointer;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{cursor: pointer;background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{cursor: pointer;line-height:40px;display:inline-block;padding:0 10px;}
.file-upload.active .file-select{cursor: pointer;border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{cursor: pointer;background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}

input[type=file]::-webkit-file-upload-button {
   cursor: pointer;
}
.table-sm th, .table-sm td {
  padding: 5px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color:white !important;
        border: 1px solid #ddd;
        padding: .35em;
    }

    table th,


    table th {
        font-size: .85em;
        letter-spacing: .1em;

    }

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
            height: 50px;
        }
        .custom-control-label {
            position: relative;
            margin-bottom: 0;
            vertical-align: top;
            margin-left: 10px;
            margin-top: 10px;
            margin-right: 2px;
        }
        table tr:hover {
            background-color: #f8f8f8 !important;

        }

            table td::before {

                content: attr(data-label);
                float: left;
                font-weight: bold;

                margin-top: 10px;
                margin-left: 2px;
            }

            table td:last-child {
                border-bottom: 0;
            }
}

  */

/* file upload */
.file-upload {
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 15px;
  }
  .file-upload .file-select {
    cursor: pointer;
    display: block;
    border: 2px solid #f1f1f1;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
  }
  .file-upload .file-select .file-select-button {
    cursor: pointer;
    background: #e9ecef;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
  .file-upload .file-select .file-select-name {
    cursor: pointer;
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
  }
  .file-upload.active .file-select {
    cursor: pointer;
    border-color: #3fa46a;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .file-upload.active .file-select .file-select-button {
    cursor: pointer;
    background: #3fa46a;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .file-upload .file-select input[type="file"] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .file-upload .file-select.file-select-disabled {
    opacity: 0.65;
  }
  
  input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
  }
  /* file upload */
  @media (min-width: 767px) and (max-width: 768px) {
    label {
      font-size: 0.87em;
    }
  }
  
  /* custom_table start */
  .custom_table table {
    width: 100%;
  }
  
  /* .custom_table table,
  .custom_table td {
    border-collapse: collapse;
    border: 1px solid #000;
  } */
  
  .custom_table thead {
    /* display: table;  */
    width: calc(100% - 17px);
  }
  
  .custom_table tbody {
    display: block; /* to enable vertical scrolling */
    height: 300px; /* e.g. */
    overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
  }
  
  .custom_table th,
  .custom_table td {
    padding: 10px;
  }
  
  .custom_table tr {
    display: table; /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
  }
  
  .custom_table td {
    border-bottom: none;
    border-left: none;
  }
  /* custom_table end */
  