.iq-hotel .iq-top-navbar {
  position: static;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
.iq-sidebar-menu .iq-menu li a i {
  font-size: 13px;
  margin-right: 0;
  vertical-align: middle;
  width: auto;
  display: inherit;
  text-align: center;
}
.iq-menu-horizontal .iq-sidebar-menu .iq-menu li:first-child a {
  padding-left: auto;
  text-align: center;
}
.iq-sidebar-menu .iq-menu li a {
  font-size: 15px;
  white-space: nowrap;
  display: block !important;
  color: #535f6b;
  position: relative;
  padding: 10px;
  line-height: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0;
  text-transform: capitalize;
}
a {
  color: #f44611;
  text-decoration: none;
  background-color: transparent;
}
.iq-sidebar-menu .iq-menu {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}
/* .iq-search-bar .searchbox1 {
  width: 200px;
  position: relative;
} */
.mydatatable img {
  width: 21px;
  margin-left: 5px;
}
.mydatatable .img-none {
  background-image: none !important;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
  box-shadow: unset;
}
.btn-success.focus,
.btn-success:focus,
.btn-success:hover {
  color: #fff;
  background-color: #449d44 !important;
  border-color: #398439 !important;
}

.form-control {
  height: 40px;
}
.custom-select {
  height: 40px;
  border: 1px solid #f1f1f1;
}
.main-content {
  margin-top: 5em !important;
}

li.active {
  background: #f44611 !important;
  color: #fff !important;
}
@media screen and (max-width: 1120px) {
  .iq-sidebar-menu .iq-menu li a i {
    display: inline-block;
    margin-right: 1em;
  }
}
@media (min-width: 1120px) {
  .iq-top-navbar {
    /* position: static; */
    width: auto;
  }
}
.mt-5 {
  margin-top: 5rem !important;
}

.iq-sidebar-menu .iq-menu li a:hover{
  color: #f44611;
}
.w-8{
  width: 8rem !important;
}