<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop:true  }">
</ngx-loading>

<nav *ngIf='authService.isLoggedIn$ | async' class="navbar navbar-icon-top navbar-expand-lg bg-light navbar-light p-0">
    <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul *ngIf="authService.UserId$ !='-1'" class="navbar-nav mr-auto">

        <li *ngIf="authService.IsAdminLogin$  | async" class="nav-item p-1" (click)="isCollapsed = true"  routerLinkActive="active">
          <a class="nav-link" routerLink="/Registration">
            <i class="fa fa-superpowers" aria-hidden="true"></i>
            New
          </a>
        </li>
  
        <li *ngIf="authService.chkDashboard$   | async" (click)="isCollapsed = true" class="nav-item p-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/Dashboard">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
  
  
  
  
        <li *ngIf="authService.chkPlayerDetail$   | async" (click)="isCollapsed = true" class="nav-item p-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/LicenseHolderControl">
            <i class="fa fa-link" aria-hidden="true"></i>
            Player Details
          </a>
        </li>
        <li *ngIf="authService.chkPlaylistLibrary$   | async" (click)="isCollapsed = true"  class="nav-item p-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/PlaylistLibrary">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            Library
          </a>
        </li>
  
        <li *ngIf="authService.chkScheduling$   | async" (click)="isCollapsed = true"  class="nav-item p-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/StoreAndForward">
            <i class="fa fa-exchange" aria-hidden="true"></i>
            Schedule
          </a>
        </li>
        <li *ngIf="authService.chkAdvertisement$   | async"  (click)="isCollapsed = true" class="nav-item p-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/Ads">
            <i class="fa fa-bandcamp" aria-hidden="true"></i>
            Adds
          </a>
        </li>
  
  
  
  
        <li *ngIf="authService.chkCopyData$   | async" class="nav-item p-1" (click)="isCollapsed = true"  routerLinkActive="active">
          <a class="nav-link" routerLink="/CopyData">
            <i class="fa fa-clone" aria-hidden="true"></i>
            Copy Data
          </a>
        </li>
        <li  class="nav-item p-1" (click)="isCollapsed = true"  routerLinkActive="active">
          <a class="nav-link" routerLink="/Links">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            Links
          </a>
        </li>
        <li *ngIf="(authService.chkInstantPlay$   | async) && ((authService.ClientContentType$ =='MusicMedia') || (authService.ClientContentType$ =='Both'))"  (click)="isCollapsed = true" class="nav-item p-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/InstantPlay">
            <i class="fa fa-eercast" aria-hidden="true"></i>
            Instant Play
          </a>
        </li>
        <li *ngIf="authService.UserId$ == '0'" class="nav-item p-1" (click)="isCollapsed = true"  routerLinkActive="active">
          <a class="nav-link" routerLink="/Users">
            <i class="fa fa-users" aria-hidden="true"></i>
            Users
          </a>
        </li>
  
        <li *ngIf="authService.chkUpload$   | async" class="nav-item p-1" (click)="isCollapsed = true"  routerLinkActive="active">
          <a class="nav-link" routerLink="/Upload">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            Uploads
          </a>
        </li>
  
        <li *ngIf="((authService.chkStreaming$   | async) && ((authService.ClientContentType$ =='MusicMedia') || (authService.ClientContentType$ =='Both')))" class="nav-item p-1" (click)="isCollapsed = true"  routerLinkActive="active">
          <a class="nav-link" routerLink="/Streaming">
            <i class="fa fa-sliders" aria-hidden="true"></i>
            Streaming
          </a>
        </li>
  
  
        <li  class="nav-item p-1" (click)="isCollapsed = true"  routerLinkActive="active">
          <a class="nav-link" routerLink="/AdminLogs">
            <i class="fa fa-ravelry" aria-hidden="true"></i>
            Logs
          </a>
        </li>
        <li  class="nav-item p-1" (click)="isCollapsed = true"  routerLinkActive="active">
          <a class="nav-link" routerLink="/Reports">
            <i class="fa fa-table" aria-hidden="true"></i>
            Reports
          </a>
        </li>
        <li  class="nav-item p-1" (click)="isCollapsed = true" >
          <input type="text" class="form-control" placeholder="Search Token" [(ngModel)]="SearchTokenId" (keyup)="SearchToken($event,content)"/>
        </li>
        <!-- <li class="nav-item p-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/Prayer">
            <i class="fa fa-ravelry" aria-hidden="true"></i>
            Prayer
          </a>
        </li> -->
      </ul>
      <ul *ngIf="authService.UserId$ =='-1'" class="navbar-nav mr-auto">
        <li (click)="isCollapsed = true"  class="nav-item p-1" routerLinkActive="active">
           <a class="nav-link" routerLink="/DJPlaylistLibrary">
             <i class="fa fa-suitcase" aria-hidden="true"></i>
             Library
           </a>
         </li>
       </ul>
      <ul class="navbar-nav p-0">
  
        <li class="nav-item p-1">
          <a class="nav-link" routerLink="" (click)='authService.logout()'>
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
  
    </div>
  </nav>
<router-outlet></router-outlet>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
     
      <div class="col-lg-6 m-0 p-0" style="float: left;">
        <h5>{{ClientName}} ({{SearchTokenId}})</h5>
      </div>
      <div class="col-lg-5 m-0 p-0" style="float: right;">
        <h6 style="text-align: right;">Last Status: {{LastStatus}}</h6>
      </div>
     

    <button type="button" class="close" aria-label="Close" (click)="tokenInfoClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-1">
    <app-token-info></app-token-info>
  </div>

</ng-template>