<!-- loader -->
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
>
</ngx-loading>
<!-- loader -->
<div class="wrapper">
  <!-- navbar start -->
  <div class="iq-top-navbar p-0 mb-5" *ngIf="authService.isLoggedIn$ | async">
    <div
      class="iq-navbar-custom d-flex align-items-center justify-content-between" 
    >
      <div
        class="iq-navbar-logo d-flex align-items-center justify-content-between col-12"
      >
        <i
          *ngIf="authService.isLoggedIn$ | async"
          class="fa fa-bars wrapper-menu col-1"
        ></i>
        <!-- serach token for m-screen -->
        <div
          class="mobile-search col-10"
          *ngIf="authService.isLoggedIn$ | async"
        >
          <div class="input-group mt-1">
            <input
              type="text"
              class="form-control"
              placeholder="Search Token"
              [(ngModel)]="SearchTokenId"
              (keyup)="SearchToken($event, content)"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon5"
                ><i class="fa fa-search"></i
              ></span>
            </div>
          </div>
        </div>
        <!-- serach token for m-screen -->
      </div>

      <div class="iq-menu-horizontal">
        <nav class="iq-sidebar-menu" *ngIf="authService.isLoggedIn$ | async">
          <div
            class="iq-sidebar-logo d-flex align-items-center justify-content-between"
          >
            <!-- <a href="#" class="header-logo">
              <img
                src="../assets/images/logo.png"
                class="img-fluid rounded-normal"
                alt="logo"
              />
            </a> -->
            <div class="iq-menu-bt-sidebar col-12 p-0">
              <i class="fa fa-close wrapper-menu"></i>
            </div>
          </div>
          <ul
            *ngIf="authService.UserId$ != '-1'"
            id="iq-sidebar-toggle"
            class="iq-menu d-flex"
          >
            <div class="clear d-none"></div>
            <li
              class="js-scroll-trigger"
              *ngIf="authService.IsAdminLogin$ | async"
              routerLinkActive="active"
            >
              <a routerLink="/Registration">
                <i class="fa fa-superpowers iq-arrow-left"></i><span>New</span>
              </a>
            </li>
            <li
              class="js-scroll-trigger"
              *ngIf="authService.IsClientAdminLogin$ | async"
              routerLinkActive="active"
            >
              <a routerLink="/Registration">
                <i class="fa fa-superpowers iq-arrow-left"></i><span>New</span>
              </a>
            </li>
            <li
              class="js-scroll-trigger"
              *ngIf="authService.chkDashboard$ | async"
              routerLinkActive="active"
            >
              <a routerLink="/Dashboard">
                <i class="fa fa-tachometer iq-arrow-left"></i
                ><span>Dashboard</span>
              </a>
            </li>
            <li
              class="js-scroll-trigger"
              *ngIf="authService.chkPlayerDetail$ | async"
              routerLinkActive="active"
            >
              <a routerLink="/LicenseHolderControl">
                <i class="fa fa-link iq-arrow-left"></i
                ><span>Player Details</span>
              </a>
            </li>
            
            <li
              class="js-scroll-trigger"
              *ngIf="((authService.chkUpload$ | async) && (authService.chkViewOnly$ | async)==false)"
              routerLinkActive="active"
            >
              <a routerLink="/Upload">
                <i class="fa fa-cloud-upload iq-arrow-left"></i
                ><span>Uploads</span>
              </a>
            </li>
            <li
              class="js-scroll-trigger"
              *ngIf="authService.chkPlaylistLibrary$ | async"
              routerLinkActive="active"
            >
              <a routerLink="/PlaylistLibrary">
                <i class="fa fa-suitcase iq-arrow-left"></i><span>Library</span>
              </a>
            </li>
            
            <li
              class="js-scroll-trigger"
              *ngIf="authService.chkScheduling$ | async"
              routerLinkActive="active"
            >
              <a routerLink="/StoreAndForward">
                <i class="fa fa-exchange iq-arrow-left"></i
                ><span>Schedule</span>
              </a>
            </li>
            <li
              class="js-scroll-trigger"
              *ngIf="authService.chkAdvertisement$ | async"
              routerLinkActive="active"
            >
              <a routerLink="/Ads">
                <i class="fa fa-bandcamp iq-arrow-left"></i><span>Ads</span>
              </a>
            </li>
            <li 
            class="js-scroll-trigger"
            *ngIf="
              (((authService.chkInstantPlay$ | async) ) && (authService.chkViewOnly$ | async)==false)
            "
            routerLinkActive="active"
          >
            <a routerLink="/InstantPlay">
              <i class="fa fa-eercast iq-arrow-left"></i
              ><span>Instant Play</span>
            </a>
          </li>
          <!--  *ngIf="authService.UserId$ == '0'"-->
          <li
            class="js-scroll-trigger"
           *ngIf="((authService.UserId$ =='0') && ((authService.chkViewOnly$ | async)==false))"
            routerLinkActive="active"
          >
            <a routerLink="/Users">
              <i class="fa fa-users iq-arrow-left"></i><span>Users</span>
            </a>
          </li>
          <li *ngIf="(((authService.chkEventMeeting$ | async)==false))" class="js-scroll-trigger" routerLinkActive="active">
            <a routerLink="/Reports">
              <i class="fa fa-table iq-arrow-left"></i><span>Stats</span>
            </a>
          </li>



            <li
              class="js-scroll-trigger"
              *ngIf="((authService.chkCopyData$ | async) && (authService.chkViewOnly$ | async)==false)"
              routerLinkActive="active"
            >
              <a routerLink="/CopyData">
                <i class="fa fa-clone iq-arrow-left"></i><span>Copy Data</span>
              </a>
            </li>
            <li *ngIf="(((authService.chkEventMeeting$ | async)==false))" class="js-scroll-trigger" routerLinkActive="active">
              <a routerLink="/Links">
                <i class="fa fa-tasks iq-arrow-left"></i><span>Links</span>
              </a>
            </li>
            
            
            <li
              class="js-scroll-trigger"
              *ngIf="
                (((authService.chkStreaming$ | async)  )  && (authService.chkViewOnly$ | async)==false)
              "
              routerLinkActive="active"
            >
              <a routerLink="/Streaming">
                <i class="fa fa-assistive-listening-systems iq-arrow-left"></i
                ><span>Streaming</span>
              </a>
            </li>
            <li *ngIf="(((authService.chkEventMeeting$ | async)==false))" class="js-scroll-trigger" routerLinkActive="active">
              <a routerLink="/manual">
                <i class="fa fa-ravelry iq-arrow-left"></i><span>Manual</span>
              </a>
            </li>
            
            <li *ngIf="(((authService.chkEventMeeting$ | async)==false))" class="js-scroll-trigger" class="d-none d-xl-block">
              <div class="input-group mt-1 search-input">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search Token"
                  [(ngModel)]="SearchTokenId"
                  (keyup)="SearchToken($event, content)"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon5"
                    ><i class="fa fa-search"></i
                  ></span>
                </div>
              </div>
            </li>
            <!-- library  -->
            <li
              class="js-scroll-trigger"
              *ngIf="authService.UserId$ == '-1'"
              routerLinkActive="active"
            >
              <a routerLink="/DJPlaylistLibrary">
                <i class="fa fa-suitcase" aria-hidden="true"></i>
                Library
              </a>
            </li>
            <!-- library -->
            <li class="js-scroll-trigger" routerLinkActive="active">
              <a class="cursor" (click)="logout()">
                <i class="fa fa-sign-out iq-arrow-left"></i><span>Logout
               </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- navbar end -->
  <!-- main content start -->
  <div class="container-fluid mt-5">
     
       
        <router-outlet></router-outlet>
        
       
     
  </div>
  <!-- main content end -->
</div>

<!-- modal start -->
<ng-template class="tokenmodal" #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <div class="col-lg-6 m-0 p-0" style="float: left">
      <h5 class="text-white">{{ ClientName }} ({{ SearchTokenId }})</h5>
    </div>
    <div class="col-lg-5 m-0 p-0" style="float: right">
      <h6 class="text-white" style="text-align: right">
        Last Status: {{ LastStatus }}
      </h6>
    </div>

    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="tokenInfoClose()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-1">
    <app-token-info></app-token-info>
  </div>
</ng-template>
<!-- modal end -->
