<!--<div class="container" [ngClass]="ngClass" [innerHtml]="content"></div>-->
<div class="bg-1 temp-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <div class="col-md-4 col-xl-2 mt-4 text-white date-info">
            <img src="assets/basic-images/logo-white.png" alt="">
          </div>
        </div>
        <div class="col-12 content-info mt-4">
          <div class="text-center text-white d-flex justify-content-center">
            <div class="col-md-8">
            <h2>FASHION</h2>
            <h6>RUNWAYSHOW</h6>
            </div>
          </div>
        </div>
        <div class="footer col-12 mt-5">
          <div class="row">
            <div class="col-3">
              <img class="skew1" src="assets/temp1-images/1.jpg" alt="" />
            </div>
            <div class="col-3">
              <img class="skew2" src="assets/temp1-images/2.jpg" alt="" />
            </div>
            <div class="col-3">
              <img class="skew1" src="assets/temp1-images/3.jpg" alt="" />
            </div>
            <div class="col-3">
              <img class="skew2" src="assets/temp1-images/4.jpg" alt="" />
            </div>
          </div>
          <div class="col-12 text-center text-white mt-3">
            <p>1234 Address, City</p>
          </div>
        </div>
      </div>
    </div>
  </div>