<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px', fullScreenBackdrop: true }"
>
</ngx-loading>
<div class="container-fluid p-0">
  <div class="col-12 p-0">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- card-header -->
          <div class="card-header" *ngIf="IsAnnouncement === '0'">
            <div
              
              class="col-lg-12"
              style="padding: 0 0 0 0"
            >
              <ul
                class="nav nav-pills"
                role="tablist"
                style="background: #fff; color: #000"
              >
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    data-toggle="tab"
                    href="#NormalUpload" (click)="ReloadControls()" (click)="ReloadComponent('NormalUpload')"
                    >Upload Content</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" (click)="ReloadComponent('CreateTemplate')"
                  href="#CreateTemplate">Create Templates</a
                  >
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" (click)="ReloadComponent('TemplateUrl')"
                  href="#TemplateUrl">Template Url</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" (click)="ReloadComponent('TemplateDownload')"
                  href="#TemplateDownload" >Download Templates</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" (click)="ReloadComponent('ConvertUrl')"
                  href="#ConvertUrl"
                    >Convert Url to Mp4</a
                  >
                </li>
                <li class="nav-item" *ngIf="loginclientId=='95'">
                  <a class="nav-link" data-toggle="tab" (click)="ReloadComponent('TemplatesEditor')"
                  href="#TemplatesEditor"
                    >Templates Editor</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- card-header end -->
          <!-- card-body start -->
          <div class="card-body pt-0">
            <div class="tab-content">
              <div
                id="NormalUpload"
                role="tabpanel"
                class="tab-pane active"
                style="padding: 0 0 0 0; margin: 0 0 0 0"
              >
                <div class="container-fluid m-0 p-0">
                  <div class="row m-0 p-0">
                    <div class="form-inline col-lg-12 p-0">
                      <label for="cmbCustomer" class="mt-1 mb-2 pr-1"
                        >Customer Name:</label
                      >
                      <select
                        name="CustomerName"
                        class="custom-select col-sm-2 col-12"
                        [(ngModel)]="CustomerId"
                        (change)="onChangeCustomer($event.target.value)"
                        id="cmbCustomer"
                      >
                        <option selected value="0"></option>
                        <option
                          *ngFor="let cLst of CustomerList"
                          [value]="cLst.Id"
                        >
                          {{ cLst.DisplayName }}
                        </option>
                      </select>

                      <label for="cmbGenre" class="mt-1 mb-2 pr-1"
                        >Orientation:</label
                      >
                      <select
                        name="cmbGenre"
                        class="custom-select col-sm-2 col-12"
                        [(ngModel)]="cmbGenre"
                        (change)="onChangeGenre($event.target.value)"
                        id="cmbGenre"
                      >
                        <option selected value="0"></option>
                        <option
                          *ngFor="let gLst of GenreList"
                          [value]="gLst.Id"
                        >
                          {{ gLst.DisplayName }}
                        </option>
                      </select>

                      <label
                        *ngIf="IsAnnouncement === '1'"
                        for="cmbFolder"
                        class="mt-1 mb-2 pr-1"
                        >Token:</label
                      >
                      <ng-multiselect-dropdown
                        *ngIf="IsAnnouncement === '1'"
                        id="Dispenser"
                        [placeholder]="' '"
                        [settings]="dropdownSettings"
                        [data]="SearchTokenList"
                        class="mt-2 mb-2 mr-sm-2 col-sm-3 col-12"
                        [(ngModel)]="cmbSearchToken"
                      >
                      </ng-multiselect-dropdown>

                      <label
                        *ngIf="IsAnnouncement === '0'"
                        for="cmbFolder"
                        class="mt-1 mb-2 mr-sm-2 pr-1"
                        >Folder Name:</label
                      >
                      <select
                        *ngIf="IsAnnouncement === '0'"
                        name="cmbFolder"
                        class="custom-select mb-3 col-sm-2 col-12 mt-2"
                        [(ngModel)]="cmbFolder"
                        (change)="onChangeFolder($event.target.value)"
                        id="cmbFolder"
                      >
                        <option selected value="0"></option>
                        <option
                          *ngFor="let fLst of FolderList"
                          [value]="fLst.Id"
                        >
                          {{ fLst.DisplayName }}
                        </option>
                      </select>
                      <p *ngIf="((IsAnnouncement === '0') && (cmbFolder != '0'))" class="ml-2">
                        <span>Is promo folder: <i *ngIf="resIsPromoFolder" class="fa fa-check-square text-primary" aria-hidden="true"></i> <i *ngIf="!resIsPromoFolder" class="text-danger fa fa-times-circle" aria-hidden="true"></i> </span> <br>
                        <span>Auto delete content: <i *ngIf="resIsAutoDelete" class="fa fa-check-square text-primary" aria-hidden="true"></i> <i *ngIf="!resIsAutoDelete" class="text-danger fa fa-times-circle" aria-hidden="true"></i> </span><br>
                        <span *ngIf="resIsAutoDelete" >Delete Date: <strong>{{dtpDeleteDate | date : 'dd/MMM/yyyy'}}</strong></span>
                       </p>
                      <button
                        *ngIf="IsAnnouncement === '0'"
                        class="btn btn-primary mb-2 mr-1 mt-n1 ml-sm-3 mt-2"
                        (click)="openGenreModal(modalGenre)" data-toggle="tooltip" data-placement="top" title="New/Edit Folder"
                      >
                        <i class="fa fa-bars" aria-hidden="true"></i>
                      </button>
                      <button
                        *ngIf="IsAnnouncement === '0'"
                        class="btn btn-danger mb-2 mr-1 mt-n1 mt-2"
                        (click)="openFolderDeleteModal(FolderDeleteModal)"
                        data-toggle="tooltip" data-placement="top" title="Delete Folder"
                      >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                      <button
                        *ngIf="IsAnnouncement === '0'"
                        class="btn btn-primary mb-2 mr-1 mt-n1 mt-2"
                        data-toggle="tooltip" data-placement="top" title="View Content"
                        (click)="openViewContent(ViewFolderContent)"
                      >
                      <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row m-0 p-0" *ngIf="InputAccept != ''">
                    <div class="col-md-3 mt-2">
                      <h5>Select files</h5>

                      <div
                        ng2FileDrop
                        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
                        (fileOver)="fileOverBase($event)"
                        [uploader]="uploader"
                        (onFileDrop)="onFileSelected($event)"
                        class="well my-drop-zone"
                        style="border: 1px dashed; height: 400px; width: 100%"
                      >
                        <div class="file-upload" id="customFile">
                          <div
                            *ngIf="IsAnnouncement === '0'"
                            class="file-select"
                          >
                            <div
                              class="file-select-button text-dark"
                              id="fileName1"
                            >
                              Choose File
                            </div>
                            <input
                              type="file"
                              name="profile"
                              name="chooseFile2"
                              id="chooseFile1"
                              ng2FileSelect
                              [uploader]="uploader"
                              multiple
                              (onFileSelected)="onFileSelected($event)"
                              accept="{{ this.InputAccept }}"
                            />
                          </div>
                          <div
                            *ngIf="IsAnnouncement === '1'"
                            class="file-select"
                          >
                            <div
                              class="file-select-button text-dark"
                              id="fileName1"
                            >
                              Choose File
                            </div>
                            <input
                              type="file"
                              name="profile"
                              name="chooseFile2"
                              id="chooseFile1"
                              ng2FileSelect
                              [uploader]="uploader"
                              (onFileSelected)="onFileSelected($event)"
                              accept="{{ this.InputAccept }}"
                            />
                          </div>
                        </div>
                      </div>
                      <!--
                  <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader"
                   (onFileDrop)="onFileSelected($event)" class="well my-drop-zone">
                    Another drop zone
                  </div>
            <input type="file" ng2FileSelect [uploader]="uploader" multiple (onFileSelected)="onFileSelected($event)"  /><br/>
                   <p>Queue length: {{ uploader?.queue?.length }}</p>
            -->
                    </div>

                    <div class="col-md-9 mt-2" style="margin-bottom: 40px">
                      <h5>Upload queue</h5>

                      <div
                        class="table-responsive"
                        style="height: 400px; overflow-y: scroll"
                      >
                        <table
                          class="table data-table table-striped table-bordered mydatatable"
                        >
                          <thead class="bg-primary">
                            <tr>
                              <th *ngIf="((cmbGenre!='297') && (cmbGenre!='303'))"
                              scope="col"
                              class="sticky-top"
                              class="sticky-top" style="width: 70px !important;"
                            >
                              
                            </th>
                              <th
                                scope="col"
                                class="sticky-top"
                                class="sticky-top"
                              >
                                Name
                              </th>
                              <th
                                scope="col"
                                class="sticky-top"
                                class="sticky-top"
                              >
                                Size
                              </th>
                              <th
                                scope="col"
                                class="sticky-top"
                                class="sticky-top"
                              >
                                Progress
                              </th>
                              <th
                                scope="col"
                                class="sticky-top Link-Center_Width"
                              >
                                Status
                              </th>
                              <th class="sticky-top Link-Center_Width"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of uploader.queue;let i=index;">
                              <td *ngIf="((cmbGenre!='297') && (cmbGenre!='303'))" class="thumb_img">
                                <img [src]="thumb[i].src" style="width: 70% !important;margin-left: auto;margin-right: auto;display: block;"/>
                                <!--<video [src]='thumb[i].src' *ngIf="thumb[i].type=='video'" controls preload="metadata" width="250" height="150"></video>-->
                              </td>
                              <td>
                                <strong>{{ item?.file?.name }}</strong>
                              </td>
                              <td nowrap>
                                {{
                                  item?.file?.size / 1024 / 1024 | number: ".2"
                                }}
                                MB
                              </td>
                              <td>
                                <div class="progress" style="margin-bottom: 0">
                                  <div
                                    class="progress-bar"
                                    role="progressbar"
                                    [ngStyle]="{ width: item.progress + '%' }"
                                  ></div>
                                </div>
                              </td>
                              <td class="text-center Link-Center_Width">
                                <span *ngIf="item.isSuccess"
                                  ><i class="fa fa-check-circle"></i
                                ></span>
                                <span *ngIf="item.isCancel"
                                  ><i class="fa fa-ban"></i
                                ></span>
                                <span *ngIf="item.isError"
                                  ><i class="fa fa-times"></i
                                ></span>
                              </td>
                              <td nowrap class="Link-Center_Width">
                                <i
                                  class="fa fa-trash text-danger"
                                  (click)="item.remove()"
                                ></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="row mt-2 d-none">
                        <div class="col-lg-12">
                          <div class="progress">
                            <div
                              class="progress-bar"
                              role="progressbar"
                              [ngStyle]="{ width: uploader.progress + '%' }"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-lg-12">
                          <button
                            type="button"
                            class="btn btn-primary btn-s mr-2 mb-2"
                            (click)="Upload()"
                            [disabled]="!uploader.getNotUploadedItems().length"
                          >
                            <span class="fa fa-cloud-upload"></span> Upload
                          </button>
                          <button
                            type="button"
                            class="btn btn-warning btn-s mr-2 mb-2"
                            (click)="uploader.cancelAll()"
                            [disabled]="!uploader.isUploading"
                          >
                            <span class="fa fa-ban"></span> Cancel
                          </button>
                          <button
                            type="button"
                            class="btn btn-danger btn-s mr-2 mb-2"
                            (click)="uploader.clearQueue()"
                            [disabled]="!uploader.queue.length"
                          >
                            <i class="fa fa-trash"></i> Remove
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-0 p-0" *ngIf="InputAccept == ''">
                    <div class="form-inline col-lg-12">
                      Please select customer and genre so upload options will display.
                    </div>
                  </div>
                </div>

                <ng-template #modalGenre let-c="close" let-d="dismiss">
                  <div class="modal-header bg-primary">
                    <h5 class="text-white">Folder</h5>
                    <button
                      type="button"
                      class="close text-white"
                      aria-label="Close"
                      (click)="d('Cross click')"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-sm-12">
                          <label for="State" class="mb-2 mr-sm-2"
                            >Folder Name:</label
                          >
                          <input
                            type="text"
                            [(ngModel)]="NewFolderName"
                            class="form-control mb-2 mr-sm-2"
                            id="fName"
                          />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              [(ngModel)]="IsPromoFolder"
                              id="chkPromoCheck"
                              name="example1"
                            />
                            <label
                              class="custom-control-label"
                              for="chkPromoCheck"
                              >Is promo folder</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-sm-12">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              [(ngModel)]="IsAutoDelete"
                              id="chkAutoDelete"
                              name="example2"
                            />
                            <label
                              class="custom-control-label"
                              for="chkAutoDelete"
                              >Set auto delete content</label
                            >
                          </div>
                        </div>
                        <div class="col-sm-8" *ngIf="IsAutoDelete === true">
                          <label for="Interval" class="mt-2 mb-2 mr-sm-2">Delete Date</label>
                          <input id="SearchFromDate" class="form-control mb-2 mr-sm-2" [owlDateTimeTrigger]="dtDeleteDate" [(ngModel)]="dtpDeleteDate" [owlDateTime]="dtDeleteDate" />
                          <owl-date-time [pickerType]="'calendar'" #dtDeleteDate></owl-date-time>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <button
                            class="btn btn-primary col-sm-2 pull-right"
                            type="button"
                            (click)="onSubmitNewGenre()"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>


                <ng-template #ViewFolderContent let-c="close" let-d="dismiss">
                  <div class="modal-header bg-primary">
                    <h5 class="text-white">Folder Content</h5>
                    <button
                      type="button"
                      class="close text-white"
                      aria-label="Close"
                      (click)="d('Cross click')"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body m-0 p-0">
                    
                      <div class="row">
                        <div class="col-sm-12">
                          <div id="disPL" class="table-responsive search-results">
                            <table class="table data-table table-striped table-bordered mydatatable" id="eventtable">
                              <thead class="">
                                <tr>
                                  <th class="WidthTitlePL bg-primary sticky-top" style="z-index: 1;">Title</th>
                                  <th class="WidthArtistPL bg-primary sticky-top" style="z-index: 1;">Artist</th>
                                  <th class="WidthCategoryPL bg-primary sticky-top" style="z-index: 1;">Genre</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="cursor-pointer" *ngFor="let plSongLst of FolderContentList">
                                  <td class="WidthTitlePL">
                                    <a href="javascript:;" (click)="OpenViewContent(viewcontent, plSongLst.TitleIdLink,plSongLst.genreId,plSongLst.MediaType)">
                                      {{ plSongLst.title }}
                                    </a>
                                  </td>
                                  <td class="WidthArtistPL">
                                    {{ plSongLst.Artist }}
                                  </td>
                                  <td class="WidthCategoryPL">
                                    {{ plSongLst.genreName }}
                                  </td>

                                </tr>
                              </tbody>
                            </table>
                          </div>
                           
                        </div>
                      </div>
                      
                    
                  </div>
                </ng-template>

                <ng-template class="tokenmodal" #viewcontent let-c="close" let-d="dismiss">
  
                  <button
                    type="button"
                    class="close text-right"
                    aria-label="Close"
                    (click)="d('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                 
                <div class="modal-body p-0">
                  <app-view-content></app-view-content>
                </div>
                </ng-template>


              </div>
              <div
                id="TemplateDownload"
                role="tabpanel"
                class="col-lg-12 tab-pane fade"
                style="padding: 0 0 0 0; margin: 0 0 0 0"
              >
                <app-download-template *ngIf="ComponentName=='TemplateDownload'" ></app-download-template>
              </div>
              <div
                id="ConvertUrl"
                role="tabpanel"
                class="col-lg-12 tab-pane fade"
                style="padding: 0 0 0 0; margin: 0 0 0 0"
              >
                <app-converthtmlmp4  *ngIf="ComponentName=='ConvertUrl'" ></app-converthtmlmp4>
              </div>
              <div
                id="CreateTemplate"
                role="tabpanel"
                class="col-lg-12 tab-pane fade"
                style="padding: 0 0 0 0; margin: 0 0 0 0"
              >
                <div class="row m-0 p-0">
                  <div class="form-inline col-lg-12">
                    <label for="cmbCustomer" class="mt-1 mb-2 mr-sm-2 pr-1"
                      >Customer Name:</label
                    >
                    <select
                      name="CustomerName"
                      class="custom-select mb-2 col-sm-3 mr-sm-3"
                      [(ngModel)]="TemplateCustomerId"
                      (change)="onChangeTemplateCustomer($event.target.value)"
                      id="cmbCustomer"
                    >
                      <option selected value="0"></option>
                      <option
                        *ngFor="let cLst of CustomerList"
                        [value]="cLst.Id"
                      >
                        {{ cLst.DisplayName }}
                      </option>
                    </select>
                    <a
                      class="btn btn-primary mb-2 mr-1 mt-1 text-white"
                      (click)="OpenTemplateEditor()"
                    >
                      Open Template Editor
                    </a>

                    <a
                      class="btn btn-primary mb-2 mr-1 mt-1 text-white"
                      href="https://www.google.com/slides/about/" target="_blank"
                    >
                      Open Google Slides
                    </a>
                  </div>
                </div>
              </div>



              <div
                id="TemplateUrl"
                role="tabpanel"
                class="col-lg-12 tab-pane fade"
                style="padding: 0 0 0 0; margin: 0 0 0 0"
              >
                <app-template-url  *ngIf="ComponentName=='TemplateUrl'"></app-template-url>
              </div>


              <div
                id="TemplatesEditor"
                role="tabpanel"
                class="col-lg-12 tab-pane fade"
                style="padding: 0 0 0 0; margin: 0 0 0 0"
              >
                <app-template-list  *ngIf="ComponentName=='TemplatesEditor'" ></app-template-list>
              </div>

            </div>
          </div>
          <!-- card-body end -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #FolderDeleteModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary">
    <h5 class="text-white">Delete folder</h5>
    <button
      type="button"
      class="close text-white"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <p>Are you sure to delete?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            class="btn btn-primary col-sm-2 pull-right"
            (click)="d('Cross click')"
          >
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-danger col-sm-2 pull-right mr-2"
            (click)="DeleteFolder()"
            (click)="d('Cross click')"
          >
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
